{% extends "admin/basic.html" %}
{% block notice%}
虚拟机
{% endblock %}
{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
    <legend>基本信息</legend>
</fieldset>

<input type="hidden" id="auth" value="{{zabbix_api.AUTH}}" />
<input type="hidden" id="url" value="{{zabbix_api.URL}}" />
<input type="hidden" id="temp_id" value="{{zabbix_api.TEMPLATE_ID}}" />
<input type="hidden" id="group_id" value="{{zabbix_api.GROUP_ID}}" />
<input type="hidden" id="vm_hostid" value="" />

<form class="layui-form" action="">
    {% csrf_token %}
    <input type="hidden" name="id" value="{%if vm_obj.id %}{{ vm_obj.id }}{% else %}0{% endif %}" />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">主机名</label>
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text" placeholder="project-name" maxlength="50" name="vm_hostname" id="vm_hostname" value="{{ vm_obj.vm_hostname}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">申请人</label>
            <div class="layui-input-inline">
                <input type="text" maxlength="10" placeholder="张三" name="vm_register" value="{{ vm_obj.vm_register}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用途</label>
            <div class="layui-input-inline" style="width:500px">
                <input type="text" maxlength="100" placeholder="视频转码服务器" name="vm_intention" value="{{ vm_obj.vm_intention}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
<fieldset class="layui-elem-field layui-field-title">
    <legend>硬件配置</legend>
</fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">vlan标签</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vlan_tag" placeholder="capture" maxlength="50" value="{{ vm_obj.vlan_tag}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">vlan ID</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vlan_id" maxlength="4" placeholder="1000" value="{{ vm_obj.vlan_id}}" lay-verify="required|number" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">集群</label>
            <div class="layui-input-inline" style="width: 100px;">
                <select lay-filter="cluster_tag" name="cluster_tag" lay-verify="required">
                    <option value="">请选择</option>
                    {% for i in cluster_data %}
                    <option {% ifequal cluster_tag i.tag %}selected="" {% endifequal %} value="{{i.tag}}">{{i.name}}</option>
                    {% endfor %}
                    {% comment %} <option {% ifequal cluster_tag 'cs' %}selected="" {% endifequal %} value="cs">长沙</option>
                    <option {% ifequal cluster_tag 'xh' %}selected="" {% endifequal %} value="xh">新化</option>
                    <option {% ifequal cluster_tag 'test' %}selected="" {% endifequal %} value="test">开发测试</option> {% endcomment %}
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">服务器</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select id="host_id" name="host_id" lay-verify="required">
                    {% for i in esxi_list %}
                    <option {% ifequal vm_obj.host_id i.id %}selected="" {% endifequal %} value="{{ i.id }}">{{ i.hostname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">CPU</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vm_cpu" placeholder="个" value="{{ vm_obj.vm_cpu}}" maxlength="4" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">内存</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vm_memory" maxlength="4" placeholder="G" value="{{ vm_obj.vm_memory}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">硬盘</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vm_disk" maxlength="4" placeholder="G" value="{{ vm_obj.vm_disk}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
<fieldset class="layui-elem-field layui-field-title">
    <legend>系统配置</legend>
</fieldset>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">操作系统</label>
            <div class="layui-input-inline" style="width: 100px;">
                <select name="vm_os" lay-verify="required">
                    <option {% ifequal vm_obj.vm_os 'CentOS' %}selected="" {% endifequal %} value="CentOS">CentOS</option>
                    <option {% ifequal vm_obj.vm_os 'Ubuntu' %}selected="" {% endifequal %} value="Ubuntu">Ubuntu</option>
                    <option {% ifequal vm_obj.vm_os 'Windows' %}selected="" {% endifequal %} value="Windows">Windows</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">管理IP</label>
            <div class="layui-input-inline" style="width: 334px;">
                <input type="text" maxlength="15" name="vm_ip" placeholder="1.2.3.4" id="vm_ip" value="{{ vm_obj.vm_ip}}" lay-verify="required|ip" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Zabbix监控</label>
        <div class="layui-input-block">
            <input type="checkbox" id="vm_monitor_switch" {% ifequal vm_obj.vm_monitor 'on' %} checked="" {% endifequal %} lay-skin="switch" lay-filter="vm_monitor" lay-text="ON|OFF">
            <input type="hidden" id="vm_monitor" value="{% ifequal vm_obj.vm_monitor 'on' %}on{%else%}off{% endifequal %}" name="vm_monitor">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="vm_desc">{{ vm_obj.vm_desc }}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer;

        form.on('submit(demo1)', function (data) {
            $.ajax({
                url: "{% url 'admin:create-or-update' 'vm' %}",
                type: 'post',
                data: data.field,
                success: function (d) {
                    layer.msg(d.msg)
                    if (d.code == 0) {
                        setTimeout(function () {
                            window.location.href = document.referrer
                        }, 1000);
                    }
                },
                error: function () {
                    layer.msg(d.Status)
                }
            })
            return false;
        });

        form.on('select(cluster_tag)', function (data) {
            var cluster_tag = data.value;
            var url = "/admin/get-hosts-list/type/host/flag/" + cluster_tag;
            var device_list_control = $("#host_id");
            device_list_control.empty();
            $.getJSON(
                url,
                function (result) {
                    device_list_control.html("<option value=''>请选择</option>");
                    $.each(result.data, function (i, item) {
                        var opt_value = "<option value='" + item.id + "'>" + item.hostname + "</option>";
                        device_list_control.append(opt_value);
                    })
                    form.render('select');
                })
        });

        form.on('switch(vm_monitor)',function(d){
            if($('#vm_ip').val().trim().length == 0 || $('#vm_hostname').val().trim().length == 0 ){
                    layer.msg('请先填写管理IP和主机名');
                    return false;
            }
            if(d.elem.checked){
                add_host_to_zabbix();
            }else{
               delete_host_from_zabbix();
            }            
        })

        form.verify({
            ip: function (value, item) {
                function isValidIP(ip) {
                    var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                    return reg.test(ip);
                }
                if (isValidIP(value) == false) {
                    return '请输入正确的IP地址';
                }
            }
        });

        function get_post_data(type){
            if (type == 'join_zabbix'){
                return {
                    "jsonrpc": "2.0",
                    "method": "host.create",
                    "params": {
                        "host": $('#vm_hostname').val(),
                        "tags": [{
                            "tag":"宿主机",
                            "value": $('#host_id').find("option:selected").text()
                        }],
                        "interfaces": [
                            {
                                "type": 1,
                                "main": 1,
                                "useip": 1,
                                "ip": $('#vm_ip').val(),
                                "dns": "",
                                "port": "10050"
                            }
                        ],
                        "groups": [
                            {
                                "groupid": $('#group_id').val()
                            }
                        ],
                        "templates": [
                            {
                                "templateid": $('#temp_id').val()
                            }
                        ],
                    },
                    "auth": $('#auth').val(),
                    "id": 1
                }
            }
            if (type == 'query_hostid'){
                return {
                    "jsonrpc": "2.0",
                    "method": "host.get",
                    "params": {
                        "output": [
                            "hostid",
                            "host"
                        ],
                        "selectInterfaces": [
                            "interfaceid",
                            "ip"
                        ],
                        "filter": {
                                "ip": $('#vm_ip').val()
                        }
                    },
                    "auth": $('#auth').val(),
                    "id": 1
                }
            }
            if (type == 'delete'){
                return {
                    "jsonrpc": "2.0",
                    "method": "host.delete",
                    "params": [$('#vm_hostid').val()],
                    "auth": $('#auth').val(),
                    "id": 1
                }
            }

        }

        function add_host_to_zabbix(){
            $.ajax({
                url:$('#url').val(),
                type:'POST',
                dataType:'json', //返回类型
                contentType: "application/json", //必须有
                data:JSON.stringify(get_post_data('join_zabbix')),
                success:function(d){
                    if(d.result && d.result.hostids[0]>0){
                        $('#vm_monitor').val('on');
                        layer.msg('加入成功');
                    }else{
                        layer.msg(d.error.message)
                    }
                },
                error:function(e){
                    alert(JSON.stringify(e));
                }
            })
        }

        function delete_host_from_zabbix(){
            query_hostid=$.ajax({
                url:$('#url').val(),
                type:'POST',
                dataType:'json', //返回类型
                contentType: "application/json", //必须有
                data:JSON.stringify(get_post_data('query_hostid')),
                success:function(d){
                    if(d.result && d.result[0].hostid>0){
                        $('#vm_hostid').val(d.result[0].hostid);
                    }else{
                        layer.msg(d.error.message)
                    }
                },
                error:function(e){
                    alert(JSON.stringify(e));
                }
            })
            
            $.when(query_hostid).done(function(){
                if($('#vm_hostid').val().trim().length == 0){
                    layer.msg('未查询到该zabbix主机')
                    return false
                }
                $.ajax({
                    url:$('#url').val(),
                    type:'POST',
                    dataType:'json', //返回类型
                    contentType: "application/json", //必须有
                    data:JSON.stringify(get_post_data('delete')),
                    success:function(d){
                        if(d.result && d.result.hostids[0]>0){
                            $('#vm_monitor').val('off');
                            layer.msg('关闭成功');
                        }else{
                            layer.msg(d.error.message)
                        }
                    },
                    error:function(e){
                        alert(JSON.stringify(e));
                    }
                })
            })
        }
    });
</script>
{% endblock %}