{% extends "admin/basic.html" %}
{% block notice%}
集群信息
{% endblock %}
{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
    <legend>集群信息</legend>
</fieldset>

<form class="layui-form" action="">
    {% csrf_token %}
    <input type="hidden" name="id" id="cluster_id" value="{%if obj.id %}{{ obj.id }}{% else %}0{% endif %}" />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">集群名称</label>
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text" placeholder="集群名称" maxlength="50" name="name"  value="{{ obj.name}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item" style="display:{%if obj.id %}none{% else %}block{% endif %}">
        <div class="layui-inline">
            <label class="layui-form-label">集群标记</label>
            <div class="layui-input-inline">
                <input type="text" maxlength="20" placeholder="cluster tag" name="tag" value="{{ obj.tag}}" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">建议为名称首字母，不可更改，请勿设置为none</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="is_active" value="0" title="启用"{%ifequal obj.is_active 0%} checked=""{%endifequal%}>
                <input type="radio" name="is_active" value="1" title="禁用"{%ifequal obj.is_active 1%} checked=""{%endifequal%}>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
    <div class="layui-input-block">
        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
    </div>
</form>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer;

        var cluster_id = $('#cluster_id').val()
        if (cluster_id != 0){
            var init_form_data = JSON.stringify($("form").serializeArray());
        } 
        form.on('submit(demo1)', function (data) {
            var submit_form_data = JSON.stringify($("form").serializeArray());
            if (init_form_data != undefined && init_form_data == submit_form_data){
                layer.msg('表单无修改，无须提交')
                return false;
            }
            $.ajax({
                url: "/admin/create-or-update/cluster/",
                type: 'post',
                data: data.field,
                success: function (d) {
                    layer.msg(d.msg)
                    if (d.code == 0) {
                        setTimeout(function () {
                            window.location.href = document.referrer
                        }, 1000);
                    }
                },
                error: function () {
                    layer.msg(d.msg)
                }
            })
            return false;
        });
    });
</script>
{% endblock %}