{% extends "admin/basic.html" %}
{% block notice%}
组织架构 / {%if obj.id %}编辑{% else %}新建{% endif %}办公组织信息
{% endblock %}
{% block mainbody %}

<p class="back-btn">
    <a href="/admin/get-device-list/branch" class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon layui-btn-sm layui-icon-return" style="padding:0 2px 0 0"></i>返回
    </a>
</p>
<input type="hidden" id="view" value="{{ view }}">

<form class="layui-form layui-form-pane">
    {% csrf_token %}
    <input type="hidden" id="branch_id" name="id" value="{%if obj.id %}{{ obj.id }}{% else %}0{% endif %}" />
    <fieldset class="layui-elem-field">
        <legend>办公组织信息</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">分公司名称</label>
                <div class="layui-input-inline" style="width: 400px;">
                    <input type="text" placeholder="百色" maxlength="50" name="name" value="{{ obj.name}}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">分公司地址</label>
                <div class="layui-input-block">
                    <input type="text" placeholder="广西省百色市右江区建通时代广场2栋A、B座四层" maxlength="50" name="address"  value="{{ obj.address}}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" pane="">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input type="radio" name="isenable" value="1" title="启用"{%ifequal obj.isenable 1%} checked=""{%endifequal%}>
                    <input type="radio" name="isenable" value="0" title="停用"{%ifequal obj.isenable 0%} checked=""{%endifequal%}>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="layui-form-item" {% ifnotequal view 0 %}style="display: none"{% endifnotequal %}>
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    layui.use(['form', 'layedit'], function () {
        var form = layui.form
            , layer = layui.layer;

        if($('#view').val()!=0){
            read_only()
        }
        
        url = '/admin/create-or-update/branch/?log=no'
        form.on('submit(submit)', function (data) {
            $.ajax({
                url: url,
                type: 'post',
                data: data.field,
                success: function (d) {
                    layer.msg(d.msg)
                    if (d.code == 0) {
                        setTimeout(function () {
                            window.location.href = '/admin/get-device-list/branch'
                        }, 1000);
                    }
                },
                error: function () {
                    layer.msg(d.msg)
                }
            })
            return false;
        });
    });
</script>
{% endblock %}