{% extends "admin/basic.html" %}

{% block notice %}网络设备 / {%if branch.id %}编辑{% else %}新建{% endif %}网络信息{% endblock %}

{% block mainbody %}
<p class="back-btn">
    <a href="/admin/get-device-list/lan_net" class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon layui-btn-sm layui-icon-return" style="padding:0 2px 0 0"></i>返回
    </a>
</p>
<input type="hidden" id="view" value="{{ view }}"/>

<form class="layui-form layui-form-pane">
    {% csrf_token %}
    <input type="hidden" id="id" name="id" value="{%if obj.id %}{{ obj.id }}{% else %}0{% endif %}" />
    <fieldset class="layui-elem-field">
        <legend>内网信息</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">IP/掩码</label>
                <div class="layui-input-block">
                    <input type="text" placeholder="172.31.1.0/24" maxlength="18" name="ip" value="{{obj.ip}}" lay-verify="required|subnet" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">网关</label>
                <div class="layui-input-block">
                    <input type="text" maxlength="15" name="gateway" placeholder="172.31.1.1" value="{{obj.gateway}}" lay-verify="required|ip" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">VLAN编号</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" placeholder="1001" maxlength="4" name="vlanid" value="{{obj.vlanid}}" lay-verify="required|vlan" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用途</label>
                <div class="layui-input-block">
                    <input type="text" placeholder="办公" maxlength="50" name="function" value="{{obj.function}}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地区</label>
                <div class="layui-input-inline" style="width: 150px;">
                    <select name="branch_id" id="branch_id" lay-verify="required" lay-search="" {% ifnotequal view 0 %}disabled{% endifnotequal %}>
                      <option>直接选择或搜索</option>
                        {% for i in branch_data %}
                        <option {%ifequal obj.branch_id i.id %}selected=""{%endifequal%} value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <br>
    <div class="layui-form-item" {% ifnotequal view 0 %}style="display: none"{% endifnotequal %}>
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer;

        if($('#view').val() != 0){
            read_only()
        }

        form.verify({
            ip: function (value, item) {
                function isValidIP(ip) {
                    var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                    return reg.test(ip);
                }
                if (isValidIP(value) == false) {
                    return '请输入正确的IP地址';
                }
            },
            subnet: function(value,item){
                var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\/([0-9]|[0-2][0-9]|[0-3][0-2])$/
                if (reg.test(value) == false){
                    return '请输入正确的网段'
                }
            },
            vlan: function (value, item) {
                let vlan_id = parseInt(value)
                if (vlan_id == NaN || vlan_id > 4096 || vlan_id < 0) return '输入正确vlan';
            }
        });

        url = '/admin/create-or-update/lan_net/?log=no'
        form.on('submit(submit)', function (data) {
            $.ajax({
                url: url,
                type: 'post',
                data: data.field,
                success: function (d) {
                    layer.msg(d.msg)
                    if (d.code == 0) {
                        setTimeout(function () {
                            window.location.href = '/admin/get-device-list/lan_net?branch_id='+$('#branch_id').val();
                        }, 1000);
                    }
                },
                error: function () {
                    layer.msg(d.Status)
                }
            })
            return false;
        });
    });
</script>
{% endblock %}