{% extends "admin/basic.html" %}
{% block notice%}
网络设备 / {%if network_devices.id %}编辑{% else %}新建{% endif %}网络设备信息
{% endblock %}
{% block mainbody %}

<style type="text/css">
.devPort {
    width:100%;
}
.devPort tr td {
    border:1px solid #ddd;
    height:35px;
    text-align:center;
}
.devPort tr td i{
    margin:0 4px;
}
.devPort tr td input{
    border:1px solid #fff;
    text-align:center;
    cursor:pointer;
    font-size:12px;
}
.devPort thead tr td{
    background:#eee;
}
</style>

<p class="back-btn">
    <a href="/admin/get-device-list/net_devices" class="layui-btn layui-btn-sm layui-btn-danger">
        <i class="layui-icon layui-btn-sm layui-icon-return" style="padding:0 2px 0 0"></i>返回
    </a>
</p>



<form class="layui-form layui-form-pane">
    {% csrf_token %}
    <input type="hidden" id="network_devices_id" name="id" value="{%if obj.id %}{{ obj.id }}{% else %}0{% endif %}" />
    <fieldset class="layui-elem-field">
        <legend>设备信息</legend>
        <div class="layui-field-box">
            <div class="layui-form-item">
                <label class="layui-form-label">设备名称</label>
                <div class="layui-input-block">
                    <input type="text" maxlength="50" placeholder="XYGJ-S5700_Lay9" name="hostname" value="{{ obj.hostname}}"
                           lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">管理IP</label>
                <div class="layui-input-inline" style="width: 200px;">
                    <input type="text" placeholder="170.31.1.1" maxlength="15" name="ip" value="{{ obj.ip}}"
                           lay-verify="required|ip" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <select lay-verify="required" name="device_type">
                        <option value="">请选择</option>
                        <option {% ifequal obj.device_type 'ICG'%} selected=""{%endifequal%}>ICG</option>
                        <option {% ifequal obj.device_type 'IPS'%} selected=""{%endifequal%}>IPS</option>
                        <option {% ifequal obj.device_type '交换机'%} selected=""{%endifequal%}>交换机</option>
                        <option {% ifequal obj.device_type '路由器'%} selected=""{%endifequal%}>路由器</option>
                        <option {% ifequal obj.device_type '防火墙'%} selected=""{%endifequal%}>防火墙</option>
                        <option {% ifequal obj.device_type 'VPN'%} selected=""{%endifequal%}>VPN</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">品牌</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <select lay-verify="required" name="brand">
                        <option value="">请选择</option>
                        <option {% ifequal obj.brand '网康'%} selected=""{%endifequal%}>网康</option>
                        <option {% ifequal obj.brand 'H3C'%} selected=""{%endifequal%}>H3C</option>
                        <option {% ifequal obj.brand '华为'%} selected=""{%endifequal%}>华为</option>
                        <option {% ifequal obj.brand '深信服'%} selected=""{%endifequal%}>深信服</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">端口数量</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <select lay-verify="required" id="portNum" lay-filter="portNum" name="port_num">
                        {% comment %} <option value="">请选择</option> {% endcomment %}
                        <option {% ifequal obj.port_num 8 %} selected=""{%endifequal%}>8</option>
                        <option {% ifequal obj.port_num 16 %} selected=""{%endifequal%}>16</option>
                        <option {% ifequal obj.port_num 20 %} selected=""{%endifequal%}>20</option>
                        <option {% ifequal obj.port_num 24 %} selected=""{%endifequal%}>24</option>
                        <option {% ifequal obj.port_num 28 %} selected=""{%endifequal%}>28</option>
                        <option {% ifequal obj.port_num 48 %} selected=""{%endifequal%}>48</option>
                        <option {% ifequal obj.port_num 52 %} selected=""{%endifequal%}>52</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">端口描述</label>
                <div class="layui-input-block">
                    <table class="devPort">
                        <thead>
                            <tr id="port_desc"></tr>
                        </thead>
                        <tbody>
                            <tr id="port_single"></tr>
                            <tr id="port_double"></tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">序列号</label>
                <div class="layui-input-block">
                    <input type="text" maxlength="50" placeholder="AXXAKLAS1313656156" name="sn"
                           value="{{ obj.sn}}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">型号</label>
                <div class="layui-input-block">
                    <input type="text" maxlength="50" placeholder="USG6306E" name="device_model"
                           value="{{ obj.device_model}}" lay-verify="required" autocomplete="off"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">版本号</label>
                <div class="layui-input-block">
                    <input type="text" maxlength="50" name="version" placeholder="VER_DA1321560"
                           value="{{ obj.version}}" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">地区</label>
                <div class="layui-input-inline" style="width: 150px;">
                    <select name="branch_id" id="branch_id" lay-verify="required" lay-search="">
                      <option>直接选择或搜索</option>
                        {% for i in branch_data %}
                        <option {%ifequal obj.branch_id i.id %}selected=""{%endifequal%} value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script type="text/javascript">
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer;

        form.verify({
            ip: function (value, item) {
                function isValidIP(ip) {
                    var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                    return reg.test(ip);
                }
                if (isValidIP(value) == false) {
                    return '请输入正确的IP地址';
                }
            },
            'subnet': function(value,item){
                var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\/([0-9]|[0-2][0-9]|[0-3][0-2])$/
                if (reg.test(value) == false){
                    return '请输入正确的网段'
                }
            }
        });
        
        form.on('submit(submit)', function (data) {
            $.ajax({
                url: url,
                type: 'post',
                data: data.field,
                success: function (d) {
                    layer.msg(d.msg)
                    if (d.code == 0) {
                        setTimeout(function () {
                            window.location.href = '/admin/get-device-list/net_devices?branch_id='+$('#branch_id').val()
                        }, 1000);
                    }
                },
                error: function () {
                    layer.msg(d.Status)
                }
            })
            return false;
        });

        port_click_event = function(){
            $('.port').click(function(){
                ele_obj=$(this)
                layer.prompt(
                    {
                        'title':'端口描述',
                    },
                    function(text, index){
                        ele_obj.val(text);
                        layer.close(index)
                        if (id>0){
                            let branch_id = $('#branch_id').val()
                            let url = `/admin/update-port-desc?device_id=${id}&branch_id=${branch_id}&port_index=${ele_obj.attr('name')}&port_desc=${text}`
                            let data_id = ele_obj.attr('data-id')
                            if (data_id != undefined){
                                url += '&id='+data_id
                            }
                            $.getJSON(
                                url,
                                function(res){
                                    console.log(res)
                                }
                            )
                        }
                    }
                )
            })
        }

        build_port_desc_talbe = function(data){
            $('#port_desc').empty()
            $('#port_single').empty()
            $('#port_double').empty()

            let portTotal=data
            n=1;
            while(n<=portTotal){
                let cell_html=`<td><input type="text" id="port_index_${n}" name="port_index_${n}" class="port" value="${n}" readonly/></td>`
                if (n%2==1){
                    $('#port_single').append(cell_html)
                }else{
                    $('#port_double').append(cell_html)
                }
                if (n<=(portTotal/2)){
                    $('#port_desc').append(
                        '<td><i class="layui-icon layui-icon-up"></i>'+(n*2-1)+
                        '<i class="layui-icon layui-icon-down"></i>'+n*2+'</td>'
                    )
                }
                n++;
            }
            port_click_event()
        }

        update_port_desc_table = function(){
            $.getJSON(
                '/admin/get-port-desc-list/'+$('#network_devices_id').val(),
                function(res){
                    if (res.code == 0){
                        $.each(res.data,function(i,d){
                            //console.log(i,d)
                            $('#'+d.index).val(d.desc)
                            $('#'+d.index).attr('data-id', d.id)
                        })
                    }
                }
            )
        }

        form.on('select(portNum)',function(data){
            build_port_desc_talbe(data.value)
            update_port_desc_table()
        })

        form.verify({
            ip: function (value, item) {
                function isValidIP(ip) {
                    var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                    return reg.test(ip);
                }
                if (isValidIP(value) == false) {
                    return '请输入正确的IP地址';
                }
            }
        });

        url = '/admin/create-or-update/net_devices/?log=no'
        
        id = $('#network_devices_id').val()
        portNum=$('#portNum').val()
        build_port_desc_talbe(portNum)
        if (id > 0){
            update_port_desc_table()
        }
        
    });
</script>
{% endblock %}