{% extends "admin/basic.html" %}
{% block notice%}
用户
{% endblock %}
{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
    <legend>用户</legend>
</fieldset>

<form class="layui-form" action="">
    {% csrf_token %}
    <input type="hidden" name="id" id="user_id" value="{% if data.id%}{{data.id}}{%else%}0{% endif %}" />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" maxlength="20" {%if data.id %}disabled readonly{%endif%} value="{{data.username}}" name="username" lay-verify="required|username" autocomplete="off"
                    class="layui-input{%if data.id %} layui-disabled{%endif%}">
            </div>
        </div>
    </div>

    <div class="layui-form-item" id="pwd_area">
        <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
                <input type="password" id="password" {%if data.id%}disabled=""{%endif%} maxlength="50" name="password" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="first_name" value="{{data.first_name}}" maxlength="15" lay-verify="required|username" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text" maxlength="80" value="{{data.email}}" name="email" lay-verify="required|email" autocomplete="off"
                    class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="is_active" value="1" {% ifequal data.is_active 1%}checked{%endifequal%} title="启用">
            <input type="radio" name="is_active" value="0" {% ifequal data.is_active 0%}checked{%endifequal%} title="禁用">
        </div>
    </div>

    <div class="layui-form-item" style="display:{%if data.id%}block;{%else%}none{%endif%}">
        <label class="layui-form-label">设置密码</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-skin="switch" lay-filter="set_password" lay-text="ON|OFF">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<style>
    .layui-form-checkbox span {
    height: auto;
    }
</style>
<script>
    layui.use(['form'], function () {
        var form = layui.form
            , layer = layui.layer;

        //监听提交
        form.on('submit(demo1)', function (data) {
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            $.ajax({
                url:"{% url 'admin:create-or-update' 'user' %}",
                type:'post',
                data:data.field,
                success:function(d){
                    layer.msg(d.msg)
                    if (d.code == 0){
                        setTimeout(function(){
                            window.location.href = document.referrer
                        },1000);
                    }
                },
                error:function(){
                    layer.msg(d.Status);
                }
            });
            return false;
        });

        form.on('switch(set_password)',function(d){
            if(d.elem.checked){
                $('#password').val('');
                $('#password').removeAttr('disabled');
                $('#password').attr('lay-verify',"required|pwd");
            }else{
                $('#password').val('');
                $('#password').attr('disabled','');
                $('#password').attr('lay-verify','');
            }            
        })

        form.verify({
            username: function (value, item) { 
                //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
            , pwd: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
        });

    });
</script>
{% endblock %}