<!DOCTYPE html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>运维信息管理平台</title>
    <script src="/static/admin/js/jquery-1.4.3.min.js"></script>
    <link href="/static/admin/css/background-common-top-menu.css" rel="stylesheet"/>
    <!--load layui-->
    <script src="/static/public/layui.js"></script>
    <link href="/static/public/css/layui.css" rel="stylesheet"/>
    <!--easy menu-->
    <script src="/static/admin/js/jquery.easymenu.js"></script>
    <link href="/static/admin/css/jquery.easymenu.css" rel="stylesheet"/>
    <!--fav icon-->
    <link href="/static/public/images/favicon.ico" rel="SHORTCUT ICON" type="image/x-icon">
    <!-- extra header -->
    {% block extrahead %}
    {% endblock %}
    <style type="text/css">
        .layui-btn .layui-icon {
            margin-right: 0;
        }
    </style>
    <!-- extra style -->
    {% block extrastyle %}
    {% endblock %}
</head>

<body>
<div id="navMenu">
    {% include 'admin/nav.html' %}
</div>
<div id="contentContainer">
    <blockquote class="layui-elem-quote layui-text" style="font-weight:bold;margin:15px 0px">
        {% block notice %}
        {% endblock %}
    </blockquote>
    {% block mainbody %}
    {% endblock %}
</div>
<script type="application/x-javascript">
    $("#menu").easymenu();

    function read_only(){
        $('input').each(function (i,ele) {
            $(this).attr('disabled','')
        })
        $('button').each(function (i,ele) {
            $(this).attr('disabled','')
        })
        $('textarea').each(function (i,ele) {
            $(this).attr('disabled','')
        })
    }
</script>
<!-- extra javascript -->
{% block extrajs %}
{% endblock %}
</body>
</html>