<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <title>yongxiong cmdb</title>
  <script src="/static/admin/js/jquery-1.4.3.min.js"></script>
  <script src="/static/admin/js/common.js"></script>
  <link href="/static/admin/css/background-common.css" rel="stylesheet" />
  <!--load layui-->
  <script src="/static/public/layui.js"></script>
  <link href="/static/public/css/layui.css" rel="stylesheet" />
  <style type="text/css">
  #resize{
    position: absolute;
    left: 202;
    top: 0;
    bottom: 0;
    width:16px;
    height:50px;
    margin:auto;
    color:#333;
    z-index:9999;
    background:#ccc;
    line-height:50px;
  }
  </style>

</head>

<body>
  <div style="margin: 0;padding: 0;overflow: hidden;height: 100%;width: 100%">
    <div id="topContainer">Configuration Management Database</div>
    <div id="leftContainer">
      <div id="nav">
        <!--news area-->

        <div class="nav_pri_menu">
          <a href="javascript:void(0);" title="menu" class="pri_menu">添加</a>
          <div class="sub_menu_item">
            <li><a href="{% url 'admin:render_temp' 'add_or_edit_host' %}" title="add new host">服务器</a></li>
            <li><a href="{% url 'admin:render_temp' 'add_or_edit_vm' %}" title="add new virtual mechine">虚拟机</a></li>
            {% if perms.auth.add_user %}
            <li><a href="{% url 'admin:render_temp' 'add_or_edit_user' %}" title="user">用户</a></li>
            {% endif %}
          </div>
        </div>

        <!--new article area-->
        <div class="nav_pri_menu">
          <a href="javascript:void(0);" title="menu" class="pri_menu">管理</a>
          <div class="sub_menu_item">

            <li><a href="{% url 'admin:render_temp' 'list_hosts' %}"  title="list hosts">服务器</a></li>
            <li><a href="{% url 'admin:render_temp' 'list_vms' %}"  title="list vms">虚拟机</a></li>
            <li><a href="{% url 'admin:render_temp' 'list_script' %}"  title="list script">配置脚本</a></li>
            <li><a href="{% url 'admin:admin_index' %}"  title="list vms">查找</a></li>
            <li><a href="{%url 'admin:render_temp' 'list_doc'%}" title="document manage">文档</a></li>
          </div>
        </div>

        <!--Message area-->
        <!-- <div class="nav_pri_menu">
          <a href="javascript:void(0);" title="message" class="pri_menu">配置管理</a>
          <div class="sub_menu_item">
            <li><a href="#" title="Add category">网络设备</a></li>
          </div>
        </div> -->

        <!--menu area-->
        <div class="nav_pri_menu">
          <a href="javascript:void(0);" title="menu" class="pri_menu">用户</a>
          <div class="sub_menu_item">
            <!-- <li><a href="#" title="add primary menu">系统设置</a></li> -->
            {% if perms.auth.view_user %}
            <li><a href="{%url 'admin:get_user_list'%}" title="add primary menu">用户管理</a></li>
            {% endif %}
            <li><a href="{%url 'admin:render_temp' 'user_change_password'%}" title="add primary menu">修改密码</a></li>
          </div>
        </div>

        <div class="nav_pri_menu">
          <a href="javascript:void(0);" title="menu" class="pri_menu">状态</a>
          <div class="sub_menu_item" style="display: none;">
            <li><a href="{% url 'admin:user_logout' %}" title="logout">退出</a></li>
          </div>
        </div>

      </div>
    </div>
    <div id="resize">
      <i id="btn_resize" class="layui-icon layui-icon-left"></i>
    </div>
    <script type="application/x-javascript">
      pri_menu=$('.pri_menu').each(function(){
        $(this).click(function(){
          //alert($(this).text());
          $(this).next().slideToggle('fast');	
        });
      });
      $('#resize').click(function(){
        resize_box=$('#resize');
        leftBar=$('#leftContainer');
        right_content=$('#rightContainer');
        btn_resize=$('#btn_resize');
        leftBar.toggle()
        if (leftBar.is(':visible')){
          btn_resize.addClass("layui-icon-left")
          btn_resize.removeClass("layui-icon-right")
          right_content.css("margin-left","214px");
          resize_box.css("left","202px")
        }else{
          btn_resize.addClass("layui-icon-right")
          btn_resize.removeClass("layui-icon-left")
          right_content.css("margin-left","14px");
          resize_box.css("left","0px")
        }
      })
      $('#resize').mouseover(function(){
        $(this).css('background','#ddd')
      })
      $('#resize').mouseout(function(){
        $(this).css('background','#ccc')
      })

    </script>

    <div id="rightContainer">
      <blockquote class="layui-elem-quote layui-text" style＝"font-weight:bold">
      管理首页 > {{user_url_path}} >
        {% block notice %}
        {% endblock %}
    </blockquote>
      {% block mainbody %}
      {% endblock %}
    </div>
  </div>
</body>
</html>