<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>运维信息管理平台</title>
    <script src="/static/admin/js/jquery-1.4.3.min.js"></script>
    <link href="/static/admin/css/background-common-top-menu.css" rel="stylesheet"/>
    <!--load layui-->
    <script src="/static/public/layui.js"></script>
    <link href="/static/public/css/layui.css" rel="stylesheet"/>
    <!--easy menu-->
    <script src="/static/admin/js/jquery.easymenu.js"></script>
    <link href="/static/admin/css/jquery.easymenu.css" rel="stylesheet"/>
    <!--fav icon-->
    <link href="/static/public/images/favicon.ico" rel="SHORTCUT ICON" type="image/x-icon">
    <style type="text/css">
        .layui-btn .layui-icon {
            margin-right: 0;
        }
    </style>

</head>

<body>
{% comment %}
<div id="topContainer">运维信息管理平台</div>
{% endcomment %}
<div id="navMenu">
    <img src="/static/admin/img/icon.png" style="float:left;width:38px;height:38px;margin:12px" alt="logo"/>
    <ul id="menu">
        <li><a href="/admin/index">首页</a></li>
        <li>
            <a href="javascript:;">报告</a>
            <ul>
                <li><a href="javascript:;">添加</a>
                    <ul>
                        {% comment %} <li><a href="/admin/render/add_or_edit_inspection_order" title="巡检计划">巡检计划</a></li> {% endcomment %}
                        {% if perms.app.add_dailyreport %}
                        <li><a href="/admin/render/add_or_edit_daily_report" title="日报">工作日报</a></li>
                        {% endif %}
                        {% if perms.app.add_troublereport %}
                        <li><a href="/admin/render/add_or_edit_trouble_report" title="故障报告">故障报告</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% comment %} <li><a href="/admin/list-inspect/" title="巡检计划">巡检计划</a></li> {% endcomment %}
                {% if perms.app.view_dailyreport %}
                <li><a href="/admin/list-report/?t=daily" title="list daily report">工作日报</a></li>
                {% endif %}
                {% if perms.app.view_troublereport %}
                <li><a href="/admin/list-report/?t=trouble" title="list trouble report">故障报告</a></li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href="javascript:;">组织架构</a>
            <ul>
                <li><a href="#">添加</a>
                    <ul>
                        {% if perms.app.add_branch %}
                        <li><a href="/admin/render/add_or_edit_branch" title="add branch">办公组织</a></li>
                        {% endif %}

                        {% if perms.auth.add_user %}
                        <li><a href="/admin/render/add_or_edit_user" title="new user">新建用户</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if perms.app.view_branch %}
                <li><a href="/admin/get-device-list/branch" title="list branch">办公组织</a></li>
                {% endif %}

                {% if perms.auth.view_user %}
                <li><a href="/admin/get-user-list" title="get user list">用户管理</a></li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href="javascript:;">服务器</a>
            <ul>
                <li><a href="javascript:;">添加</a>
                    <ul>
                        {% if perms.app.add_clusterinfo %}
                        <li><a href="/admin/render/add_or_edit_cluster" title="add cluster">ESXi集群</a></li>
                        {% endif %}
                        <!--<li><a href="/admin/render/shell' %}" title="shell">shell</a></li>-->
                        {% if perms.app.add_hostinfo %}
                        <li><a href="/admin/render/add_or_edit_host" title="add new host">服务器</a></li>
                        {% endif %}
                        {% if perms.app.add_vminfo %}
                        <li><a href="/admin/render/add_or_edit_vm" title="add new virtual mechine">虚拟机</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if perms.app.view_clusterinfo %}
                <li><a href="/admin/get-cluster-list" title="list cluster">ESXi集群</a></li>
                {% endif %}

                {% if perms.app.view_hostinfo %}
                <li><a href="/admin/render/list_hosts" title="list hosts">服务器</a></li>
                {% endif %}

                {% if perms.app.view_vminfo %}
                <li><a href="/admin/render/list_vms" title="list vms">虚拟机</a></li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href="javascript:;">网络设备</a>
            <ul>
                <li><a href="javascript:;">添加</a>
                    <ul>
                        {% comment %} {% if perms.app.add_branch %}
                        <li><a href="/admin/render/add_or_edit_branch" title="add branch">办公组织</a></li>
                        {% endif %} {% endcomment %}

                        {% if perms.app.add_networkdevices %}
                        <li><a href="/admin/render/add_or_edit_net_devices" title="add devices">网络设备</a></li>
                        {% endif %}

                        {% if perms.app.add_wannetworks %}
                        <li><a href="/admin/render/add_or_edit_wan_net" title="add wan net">互联网信息</a></li>
                        {% endif %}

                        {% if perms.app.add_lannetworks %}
                        <li><a href="/admin/render/add_or_edit_lan_net" title="add lan net">网络信息</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="/admin/render/list_script" title="list script">配置脚本</a></li>
                {% comment %} {% if perms.app.view_branch %}
                <li><a href="/admin/get-device-list/branch" title="list branch">办公组织</a></li>
                {% endif %} {% endcomment %}
                {% if perms.app.view_networkdevices %}
                <li><a href="/admin/get-device-list/net_devices" title="list network_devices">设备信息</a></li>
                {% endif %}

                {% if perms.app.view_wannetworks %}
                <li><a href="/admin/get-device-list/wan_net" title="list wan net">互联网信息</a></li>
                {% endif %}

                {% if perms.app.view_lannetworks %}
                <li><a href="/admin/get-device-list/lan_net" title="list lan net">网络信息</a></li>
                {% endif %}
            </ul>
        </li>
        <li>
            <a href="/admin/render/list_doc">文档</a>
            {% comment %} <ul>
                <li><a href="/admin/render/list_doc" title="document manage">用户上传</a></li>
            </ul> {% endcomment %}
        </li>
        <li>
            <a href="/admin/list-inspect/">巡检值班</a>
            <ul>
                <li><a href="javascript:;">添加</a>
                    <ul>
                        <li><a href="/admin/render/add_or_edit_inspection_order" title="巡检值班">巡检值班</a></li>
                    </ul>
                </li>
                <li><a href="/admin/list-inspect/" title="巡检值班">巡检值班</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">用户</a>
            <ul>
                <li><a href="/admin/render/user_change_password">修改密码</a></li>
                <li><a href="/admin/user-logout">退出</a></li>
            </ul>
        </li>
    </ul>
    <div style="float:right;margin:20px 10px;color:#ddd">
        你好,{{request.user.first_name}},欢迎登陆
    </div>
</div>

<div id="contentContainer">
    <blockquote class="layui-elem-quote layui-text" style="font-weight:bold;margin:15px 0px">
        {% block notice %}
        {% endblock %}
    </blockquote>
    {% block mainbody %}
    {% endblock %}
</div>
<script type="application/x-javascript">
    $("#menu").easymenu();
</script>
</body>
</html>