<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>editor markdown - {{filename}}</title>
<link rel="stylesheet" href="/static/public/md-editor/editormd.css" />

<script src="/static/public/md-editor/jquery.min.js"></script>
<script src="/static/public/md-editor/editormd.min.js"></script>
<style type="text/css">
html,body{
    margin:0;padding:0
}
</style>
</head>
<body onresize="resize_container();">
<div id="markdown-view">
    <!-- Server-side output Markdown text -->
    <textarea style="display:none;" id="content">{{content}}</textarea>
    <input type="hidden" id="id" value="{%if id%}{{id}}{%else%}0{%endif%}"/>
    {% csrf_token %}
</div>
<script type="text/javascript">
    var Editor;

    $(function() {
        Editor = editormd("markdown-view", {
            width   : "100%",
            height  : $(window).height(),
            syncScrolling : "single",
            path    : "/static/public/md-editor/lib/",
        });
    });

    $(window).bind('keydown', function(event) {
        if (event.ctrlKey || event.metaKey) {
            if(String.fromCharCode(event.which).toLowerCase() == 's'){
                event.preventDefault();
                save()
            }
        }
    });

    function save(){
        id=$('#id').val()
        csrf=$('input[name="csrfmiddlewaretoken"').val()
        content=$('#content').val()

        if (id<=0){
            return false;
        }

        $.ajax({
            url:'/admin/save/',
            type:'post',
            data:{
                'id':id,
                'csrfmiddlewaretoken':csrf,
                'content':content
            },
            success:function(d){
                alert(d.msg)
            },
            error:function(e){
                alert(JSON.stringify(e))
            }
        })
    }
    function resize_container(){
      bodyHeight = $(window).height()
      $('#markdown-view').height(bodyHeight)
    }
</script> 
</body>
</html>