<html>
<head>
<title>{{filename}}</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/static/public/hightlight/vs.css" />

<script src="/static/admin/js/jquery-1.4.3.min.js" charset="utf-8"></script>
<script src="/static/public/hightlight/highlight.min.js" charset="utf-8"></script>
</head>
<body>
<div>
    <input type="hidden" value="{{filename}}" id="filename" />
    <pre>
        <code id="code">{{content}}</code>
    </pre>
</div>
<script type="text/javascript">
    file_type={
        'sh': 'bash',
        'php': 'php',
        'py': 'python',
        'js': 'javascript',
        'html': 'html',
        'htm': 'html',
        'conf': 'config',
        'log': 'accesslog',
        'txt': 'plaintext',
        'sql': 'sql',
        'go': 'go',
        'json': 'json',
        'xml': 'xml',
        'yaml':'yaml',
        'yam': 'yaml',
    }
    a=$('#filename').val().split('.');
    $('#code').addClass(file_type[a[a.length-1]]);
    hljs.initHighlightingOnLoad();
</script>
</body>
</html>