{% extends "admin/basic.html" %}
{% block notice%}
首页
{% endblock %}
{% block mainbody %}
<style type="text/css">
.layui-table th,.layui-table td {
    text-align: center;
 }
.layui-table th{
    color:#000
}
caption{
    text-align:left;
    padding:20px 0;
}
.layui-col-md4{
    padding:0 5px
}
.bg1{background:#eee}
.bg2{background:#e2e2e2}
.bg3{background:#ddd}
</style>
<script src="/static/public/highcharts/highcharts.js"></script>
<fieldset class="layui-elem-field layui-field-title">
    <legend>设备摘要</legend>
</fieldset>

<div class="layui-row">
    <table class="layui-table">
        <thead>
            <tr>
                <th colspan="2">虚拟化</th>
                <th rowspan="2">用户</th>
                <th rowspan="2">文件</th>
                <th rowspan="2">服务器</th>
                <th rowspan="2">分子公司</th>
                <th colspan="2">视频监控</th>
                <th colspan="{{data.net_device_data|length}}">网络设备</th>
                <th colspan="2">服务器保修信息</th>
            </tr>
            <tr>
                <th>宿主机</th>
                <th>虚拟机</th>
                <th>监控主机</th>
                <th>摄像头</th>
                {% for i in data.net_device_data %}
                <th>{{ i.device_type }}</th>
                {% endfor %}
                <th>在保</th>
                <th>过保</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.esxi_count}}</td>
                <td>{{data.vms_count}}</td>
                <td>{{data.user_count}}</td>
                <td>{{data.file_count}}</td>                
                <td>{{data.esxi_none_count}}</td>
                <td>{{data.branch_count}}</td>
                <td>{{data.monitor_count}}</td>
                <td>{{data.camera_count}}</td>
                {% for i in data.net_device_data %}
                <td>{{i.count}}</td>
                {% endfor %}
                <td>{{data.in_guarantee_count}}</td>
                <td>{{data.out_guarantee_count }}</td>
            </tr>
        </tbody>
    </table>
</div>

<fieldset class="layui-elem-field layui-field-title">
    <legend>工作统计</legend>
</fieldset>

<div class="layui-row">
    <table class="layui-table">
        <thead>
            <tr>
                <th colspan="{{data.user_work_count_data|length}}">工作日报（本月）</th>
                <th colspan="{{data.trouble_count_data|length}}">故障报告（本月）</th>
            </tr>
            <tr>
                {% for i in data.user_work_count_data %}
                <th>{{i.first_name}}</th>
                {% empty %}
                <th>暂无数据</th>
                {% endfor %}
                {% for i in data.trouble_count_data %}
                <th>{{i.type}}</th>
                {% empty %}
                <th>暂无数据</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                
                {% for i in data.user_work_count_data %}
                <td>{{i.count}}</td>
                {% empty %}
                <td>暂无数据</td>
                {% endfor %}

                {% for i in data.trouble_count_data %}
                <td>{{i.count}}</td>
                {% empty %}
                <td>暂无数据</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<fieldset class="layui-elem-field layui-field-title">
    <legend>资源分布</legend>
</fieldset>
<div class="layui-tab layui-tab-card" lay-filter="tab_cluster">
  <ul class="layui-tab-title">
    {% for i in data.cluster_data %}
    <li tag="{{i.tag}}">{{i.name}}</li>
    {% endfor %}
    <li tag="none">独立服务器</li>
    <li tag="camera">视频监控</li>
  </ul>
  <div class="layui-tab-content" style="height: 400px;text-align:center">
    <div id="chart_pie" style="width:49.5%;float:left;border-right:1px solid #f9f9f9"></div>
    <div id="chart_bar" style="width:50%;float:left"></div>
  </div>
</div>


<script type="text/javascript">
layui.use(['element', 'layer'], function(){
  var $ = layui.jquery
  ,layer = layui.layer
  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
  
    $('.layui-tab-title li').first().addClass('layui-this')
    var chart = null;

     ajax_rend_chart('bar', '/admin/get-cluster-count-info/cs');
     ajax_rend_chart('pie', '/admin/get-guarantee-info/cs');

    element.on('tab(tab_cluster)', function (data) {
        tag = $(this).attr('tag');
        if (tag == 'none'){
            $('#chart_bar').css('display','none')
            ajax_rend_chart('pie', '/admin/get-guarantee-info/'+tag);
        }else if (tag == "camera"){
            $('#chart_bar').css('display','block')
            ajax_rend_chart('pie', '/admin/get-camera-info/camera', 'chart_pie');
            ajax_rend_chart('pie', '/admin/get-camera-info/recorder', 'chart_bar');
        }else{
            $('#chart_bar').css('display','block')
            ajax_rend_chart('bar', '/admin/get-cluster-count-info/'+tag);
            ajax_rend_chart('pie', '/admin/get-guarantee-info/'+tag);
        }
        
    })

    char=[$('#chart_pie'),$('#chart_bar')]
    $.each(char,function(i,d){
        d.mouseover(function(){
            $(this).css('background','#f9f9f9');
        });
        d.mouseout(function(){
            $(this).css('background','#fff');
        })
    })

    function ajax_rend_chart(t, url, ele=undefined) {
        $.getJSON(
           url,
           function(d){
               if (d.code==0){
                   if (d.data.length == 0){
                       layer.msg('no data')
                   }else{
                       if (t == 'bar'){
                           render_bar_chart(d, ele)
                       }else{
                           render_pie_chart(d, ele)
                       }                       
                    }
               }else{
                   alert(d.msg)
               }
           } 
        )
    }

    function render_pie_chart(data, ele=undefined){
        if (ele==undefined){
            ele = 'chart_pie'
        }
        Highcharts.chart(ele, {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    margin: 70,
                    backgroundColor: 'rgba(0,0,0,0)'
                },
                title: {
                    text: data.name
                },
                tooltip: {
                    //pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                credits: {
                    enabled: false//不显示LOGO
                },
                plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            showInLegend: false, // 显示图例
                            dataLabels: {
                                enabled: true, // 图表标签
                                format: '<b>{point.name}</b>: {point.y}',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: data.data,
                }]
        });
    }

    function render_bar_chart(data, ele=undefined){
        if (ele==undefined){
            ele = 'chart_bar'
        }
        chart = Highcharts.chart(ele, {
            chart: {
                type: 'column',
                marginLeft: 150,
                marginRight: 100,
                backgroundColor: 'rgba(0,0,0,0)',
            },
            title: {
                text: data.name
            },
            credits: {
                enabled: false//不显示LOGO
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45  // 设置轴标签旋转角度
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '数量（台）'
                }
            },
            legend: {
                enabled: false
            },
            series: [
                {
                    name: '总数量（台）',
                    data: data.data,
                    dataLabels: {
                        enabled: true,
                        rotation: -360, //数字旋转
                        color: '#FFFFFF',
                        align: 'center',
                        format: '{point.y:.f}', // :.1f 为保留 1 位小数
                        y: 20 // 柱状数字距离
                    }
                }
            ]
        });
    }
});
</script>

{% endblock %}