{% extends "admin/basic.html" %}

{% block notice %}网络设备 / 网络设备信息管理{% endblock %}

{% block mainbody %}
<fieldset class="layui-elem-field layui-field-title">
    <legend>网络设备列表</legend>
</fieldset>
{% include 'admin/network_search.html' %}

<div class="layui-form">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="60">
            <col width="100">
            <col width="180">
            <col width="80">
            <col width="80">
            <col width="80">
            <col>
            <col width="180">
            <col>
            <col width="120">            
            <col width="180">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>地区</th>
            <th>设备名称</th>
            <th>设备类型</th>
            <th>设备品牌</th>
            <th>端口数量</th>
            <th>序列号</th>
            <th>设备型号</th>
            <th>软件版本</th>
            <th>管理IP</th>            
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {%for i in obj%}
        <tr id="id_{{i.id}}">
            <td>{{ forloop.counter }}</td>
            <td>{{i.branch.name}}</td>
            <td>{{i.hostname}}</td>
            <td>{{i.device_type}}</td>
            <td>{{ i.brand }}</td>
            <td>{{ i.port_num }}</td>
            <td>{{i.sn}}</td>
            <td>{{i.device_model}}</td>
            <td>{{i.version}}</td>
            <td>{{ i.ip }}</td>            
            <td>
                {% if perms.app.view_networkdevices %}
                <a href="/admin/edit/net_devices/{{i.id}}/?view=1" title="view" class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-list"></i>
                </a>
                {% endif %}
                {% if perms.app.change_networkdevices %}
                <a href="/admin/edit/net_devices/{{i.id}}" title="edit" class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-edit"></i>
                </a>
                {% endif %}
                {% if perms.app.delete_networkdevices %}
                <a flag="{{ i.id }}" title="delete" class="layui-btn layui-btn-primary layui-btn-xs btn-delete">
                    <i class="layui-icon layui-icon-delete"></i>
                </a>
                {% endif %}
                {% if perms.app.change_networkdevices %}
                <a target="_blank" href="/admin/web-shell/?type=telnet&port=23&host={{i.ip}}" lay-event='link' title="connect" class='layui-btn layui-btn-primary layui-btn-xs'>
                    <i class='layui-icon layui-icon-link'></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div id="page"></div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    layui.use(['layer', 'form', 'laypage'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            layer = layui.layer;

        $('#keyword').on('keydown',function(event){
            console.log(event)
            if(event.keyCode==13){
                $('#search').click();
            }
        })

        $('.btn-export').click(function(){
            let action_url = $('form').attr('action');
            let branch_id = $('select[name="branch_id"]').val();
            let keyword = $('input[name="keyword"]').val();
            let new_url = action_url+'?branch_id='+branch_id+'&keyword='+keyword+'&export=t';
            window.open(new_url);
        })

        form.on('select(branch)',function(data){
            $('#search').click()
        })

        laypage.render({
            elem: 'page',
            count: {{rs_count}},
            limit: {{page_size}},
            curr: {{curr_page}},
            layout: ['count','prev', 'page', 'next'],
            jump: function(obj, first){
                //console.log(obj.curr);
                //console.log(obj.limit);
                if(!first){
                    let branch_id = $('select[name="branch_id"]').val()
                    let keyword = $('input[name="keyword"]').val()
                    window.location.href='/admin/get-device-list/net_devices?branch_id='+branch_id+'&keyword='+keyword+'&page='+obj.curr
                
                }
            }
        });

        $('.btn-delete').bind('click', function () {
            var id = $(this).attr('flag')
            layer.confirm('真的要删除该项', function (index) {
                var url = "/admin/delete/net_devices/" + id
                $.getJSON(
                    url,
                    function (d) {
                        if (d.code == 0) {
                            $('#id_' + id).empty();
                        } else {
                            layer.alert(d.msg);
                        }
                    }
                );
                layer.close(index)
            });
        });
    })
</script>
{% endblock %}