{% extends "admin/basic.html" %}

{% block notice %}网络设备 / 互联网信息{% endblock %}

{% block mainbody %}
<fieldset class="layui-elem-field layui-field-title">
    <legend>互联网信息列表</legend>
</fieldset>
{% include 'admin/network_search.html' %}

<div class="layui-form">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="80">
            <col width="100">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col width="180">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>分公司</th>
            <th>IP</th>
            <th>网关</th>
            <th>DNS</th>
            <th>带宽</th>
            <th>费用</th>
            <th>ISP</th>
            <th>联系人</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {%for i in obj%}
        <tr id="id_{{i.id}}">
            <td>{{ forloop.counter }}</td>
            <td>{{ i.branch.name }}</td>
            <td>{{ i.ip }}</td>
            <td>{{ i.gateway }}</td>
            <td>{{ i.dns1 }} {{ i.dns2 }}</td>
            <td>{{ i.bandwidth }}</td>
            <td>{{ i.rent }}</td>
            <td>{{ i.isp }}</td>
            <td>{{ i.contact }}</td>
            <td>
                {% if perms.app.view_wannetworks %}
                <a href="/admin/edit/wan_net/{{i.id}}/?view=1" title="view" class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-list"></i>
                </a>
                {% endif %}
                {% if perms.app.change_wannetworks %}
                <a href="/admin/edit/wan_net/{{i.id}}" title="edit" class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-edit"></i>
                </a>
                {% endif %}
                {% if perms.app.delete_wannetworks %}
                <a flag="{{ i.id }}" title="delete" class="layui-btn layui-btn-primary layui-btn-xs btn-delete">
                    <i class="layui-icon layui-icon-delete"></i>
                </a>
                {% endif %}

                <a title="logs" target="_blank" href="/admin/view-logs/wan_net/{{ i.id }}" class='layui-btn layui-btn-primary layui-btn-xs'>
                    <i class='layui-icon layui-icon-log'></i>
                </a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div id="page"></div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    layui.use(['layer', 'form', 'laypage'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            layer = layui.layer;
        
        $('#keyword').on('keydown',function(event){
            if(event.keyCode==13){
                $('#search').click();
            }
        })

        $('.btn-export').click(function(){
            let action_url = $('form').attr('action');
            let branch_id = $('select[name="branch_id"]').val();
            let keyword = $('input[name="keyword"]').val();
            let new_url = action_url+'?branch_id='+branch_id+'&keyword='+keyword+'&export=t';
            window.open(new_url);
        })

        form.on('select(branch)',function(data){
            $('#search').click()
        })

        laypage.render({
            elem: 'page',
            count: {{rs_count}},
            limit: {{page_size}},
            curr: {{curr_page}},
            layout: ['count','prev', 'page', 'next'],
            jump: function(obj, first){
                //console.log(obj.curr);
                //console.log(obj.limit);
                if(!first){
                    let branch_id = $('select[name="branch_id"]').val()
                    let keyword = $('input[name="keyword"]').val()
                    window.location.href='/admin/get-device-list/wan_net?branch_id='+branch_id+'&keyword='+keyword+'&page='+obj.curr
                
                }
            }
        });

        $('.btn-delete').bind('click', function () {
            var id = $(this).attr('flag')
            layer.confirm('真的要删除该项', function (index) {
                var url = "/admin/delete/wan_net/" + id
                $.getJSON(
                    url,
                    function (d) {
                        if (d.code == 0) {
                            $('#id_' + id).empty();
                        } else {
                            layer.alert(d.msg);
                        }
                    }
                );
                layer.close(index)
            });
        });
    })
</script>
{% endblock %}