{% extends "admin/basic.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="/static/public/css/mouseRightMenu.css"/>
{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        .mr {
            cursor: pointer
        }

        .layui-icon-file {
            margin: 0 5px
        }

        .folder {
            margin-left: 10px;
            font-weight: bolder;
            cursor: pointer
        }

        .upload_progress_box {
            margin: 20px 10px
        }
    </style>
{% endblock %}

{% block notice %}文档 / 用户上传 {% endblock %}

{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
    <legend>文件管理</legend>
</fieldset>

<div class="layui-upload">
    <input type="hidden" id="path" value="/">
    <input type="hidden" id="cur_user" tag="{{ request.user.is_superuser }}" value="{{ request.user.id }}">
    {% csrf_token %}
    <button type="button" class="layui-btn" id="btn_upload"><i class="layui-icon layui-icon-upload"></i>上传文件</button>
    <button type="button" class="layui-btn" style="margin-left:1px" id="btn_create_folder">新建文件夹</button>
{#    <button type="button" class="layui-btn" id="btn_view_upload_progress">上传进度</button>#}
    <div class="layui-upload-list">
        <table class="layui-table" lay-skin="line">
            <thead>
            <colgroup>
                <col>
                <col width="100">
                <col width="150">
                <col width="250">
            </colgroup>
            <tr style="background:#eee">
                <th>名称</th>
                <th>归属</th>
                <th>文件大小</th>
                <th>日期时间</th>
            </tr>
            </thead>
            <tbody id="folder_list"></tbody>
            <tfoot id="file_list"></tfoot>
        </table>
    </div>
</div>
<!-- upload progress bar -->
<div style="display:none" id="upload_percent_box">
    <div class="layui-progress layui-progress-big upload_progress_box" lay-showPercent="true"
         lay-filter="upload_percent">
        <div class="layui-progress-bar" lay-percent="0%"></div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    layui.config({base: '/static/public/layui-extends/'})
    layui.use(['upload', 'element', 'layer', 'mouseRightMenu', 'laytpl'], function () {
        let element = layui.element
            , $ = layui.jquery
            , layer = layui.layer
            , laytpl = layui.laytpl
            , mouseRightMenu = layui.mouseRightMenu
            , upload = layui.upload;

        laytpl.config({
          open: '<%',
          close: '%>'
        });

        let cur_user_id = $('#cur_user').val(),
            is_superuser = $('#cur_user').attr('tag').toLowerCase()

        let layer_progress_index = 0;

        upload.render({ //允许上传的文件后缀
            elem: '#btn_upload'
            //,url: 'https://httpbin.org/post' //改成您自己的上传接口
            , url: '/admin/upload-file'
            , accept: 'file' //普通文件
            , size: 102400
            , async: false
            , data: {
                'csrfmiddlewaretoken': function () {
                    return $('[name="csrfmiddlewaretoken"]').val()
                },
                'path': function () {
                    return $('#path').val()
                }
            }
            , progress: function (n, elem) {
                if (layer_progress_index === 0){
                    show_upload_progress()
                    //console.log(1)
                }
                //console.log(elem)
                let percent = n + '%' //获取进度百分比
                element.progress('upload_percent', percent); //配合 layui 进度条元素使用
            }
            //,exts: 'zip|rar|7z' //只允许上传压缩文件
            , done: function (res) {
                if (res.code === 0) {
                    //element.progress('upload_percent', '0%');
                    //layer.close(layer_progress_index)
                    //layer_progress_index = 0

                    let tpl = $('#file-item')[0].innerHTML,
                        url = build_href_link(res.data)
                    res.data.url = url
                    laytpl(tpl).render(res.data, function (html) {
                        $('#file_list').append(html)
                    })
                    right_click_menu()
                    layer.msg('上传成功');
                    //layer.close(layer_progress_index)
                }
            }
            , error: function () {
            }
        });

        $('#btn_create_folder').on('click', function () {
            layer.prompt({title: '新建文件夹'}, function (val, index) {
                if (val.length <= 0) {
                    alert('目录名不能为空');
                    return false;
                } else if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(val)) {
                    alert('目录名不能有特殊字符')
                    return false;
                }

                $.ajax({
                    url: '/admin/create-folder',
                    type: 'post',
                    data: {
                        'name': val,
                        'path': $('#path').val(),
                        'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                    },
                    success: function (d) {
                        if (d.code === 0) {
                            let tpl = $('#folder-item')[0].innerHTML
                            laytpl(tpl).render(d.data,function (html) {
                                $('#folder_list').append(html)
                            })
                            folder_click_event();
                            right_click_menu();
                        } else {
                            layer.msg(d.msg);
                        }
                    }
                });
                layer.close(index);
            });
        })

        // view upload progress
        {#$('#btn_view_upload_progress').on('click', function () {#}
        {#    layer_progress_index = layer.open({#}
        {#        type: 1#}
        {#        , minleft: 1000#}
        {#        , id: 'upload_percent'#}
        {#        , area: ['400px', '102px']#}
        {#        , shade: 0#}
        {#        , offset: 'rb'#}
        {#        , title: '上传进度'#}
        {#        , content: $('#upload_percent_box').html()#}
        {#        , cancel: function (index) {#}
        {#            //console.log(index)#}
        {#            layer.close(index)#}
        {#            layer_progress_index = 0#}
        {#        }#}
        {#    });#}
        {#    //console.log(layer_progress_index)#}
        {# })#}

        function show_upload_progress() {
            if (layer_progress_index === 0){
                layer_progress_index = layer.open({
                    type: 1
                    , minleft: 1000
                    , id: 'upload_percent'
                    , area: ['400px', '102px']
                    , shade: 0
                    , offset: 'rb'
                    , title: '上传进度'
                    , content: $('#upload_percent_box').html()
                    , cancel: function (index) {
                        console.log(index)
                        layer.close(index)
                        layer_progress_index = 0
                    }
                });
            }
            return null
        }

        function build_href_link(obj){
            let office_ext = ['xls', 'xlsx', 'doc', 'docx', 'ppt', 'pptx']
            if (office_ext.indexOf(obj.file_type) >=0){
                let oos_server = 'http://172.30.16.8'

                let doc_url = encodeURIComponent('http://ops.cs.hnyongxiong.com/admin/wopi/files/'+obj.id)
                if (['doc', 'docx'].indexOf(obj.file_type) >=0 ){
                    return oos_server+'/we/wordeditorframe.aspx?WOPISrc='+doc_url
                }

                if (['pdf'].indexOf(obj.file_type) >=0 ){
                    return oos_server+'/wv/WordViewer/request.pdf?type=accesspdf&WOPISrc='+doc_url
                }

                if (['xls', 'xlsx'].indexOf(obj.file_type) >=0 ){
                    return oos_server+'/x/_layouts/xlviewerinternal.aspx?edit=1&WOPISrc='+doc_url
                }

                {#if (['ppt', 'pptx'].indexOf(obj.file_type) >=0 ){#}
                {#    return oos_server+'/p/PowerPointFrame.aspx?PowerPointView=EditView&WOPISrc='+doc_url#}
                {#}#}

            }else{
                return  '/admin/media/'+obj.id
            }
        }

        function folder_click_event() {
            $('.folder').off('click').on('click', function () {
                //alert($(this).text())
                let folder_name = $(this).text()
                let path = $('#path').val()
                // 上级目录
                // 最顶层目录直接点击无效
                if (folder_name === '..' && path === '/') {
                    return false
                }
                if (folder_name === '..' && path !== '/') {
                    let a = path.split('/')
                    let b = a.slice(0, a.length - 2)
                    let c = b.join('/')
                    if (c == '') {
                        $('#path').val('/')
                    } else {
                        $('#path').val(c + '/')
                    }
                } else {
                    $('#path').val(path + folder_name + '/')
                }
                init()
            });
        }

        function right_click_menu() {
            //右键监听
            $('.mr').unbind('contextmenu').bind("contextmenu", function (e) {
                let data = {id: $(this).attr('tag'), owner_id:$(this).attr('owner'), class: $(this).attr('class'), text: $(this).text().trim()}
                //console.log(data)
                let menu_data = [
                    //{'data': data, 'type': 5, 'title': '共享'},
                ]

                if (data.owner_id === cur_user_id || is_superuser === 'true'){
                    menu_data.unshift({'data': data, 'type': 2, 'title': '删除'},)
                }

                let txt_file_type = [
                    'md', 'yaml', 'yam', 'conf', 'log', 'txt', 'desktop', 'sh', 'py',
                    'php', 'js', 'css', 'html', 'htm', 'go', 'json', 'xml'
                ]

                if (data.class.indexOf('folder') === -1) {
                    let a = data.text.split('.')
                    let file_ext = a[a.length-1]
                    //console.log(a,file_ext)
                    if (txt_file_type.indexOf(file_ext) >= 0){
                        menu_data.unshift({'data': data, 'type': 3, 'title': '编辑'})
                    }
                    if (data.owner_id === cur_user_id || is_superuser === 'true'){
                        menu_data.unshift({'data': data, 'type': 4, 'title': '重命名'})

                    }
                    menu_data.unshift({'data': data, 'type': 1, 'title': '下载'})

                }

                if (menu_data.length < 1){
                    return
                }

                mouseRightMenu.open(menu_data, false, function (d) {
                    //layer.alert(JSON.stringify(d));
                    //删除操作
                    if (d.type == 2) {
                        $.getJSON(
                            '/admin/file-delete/' + d.data.id,
                            function (res) {
                                if (res.code == 0) {
                                    //layer.msg('删除成功');
                                    $('#tr' + d.data.id).empty()
                                }else{
                                    layer.alert(res.msg)
                                }
                            }
                        )
                        //关闭菜单
                    }
                    //下载操作
                    if (d.type == 1) {
                        window.open('/admin/media/' + d.data.id + '?d=1');
                    }
                    // 编辑操作
                    if (d.type == 3) {
                        layer.open({
                            type: 2,
                            title: d.data.text,
                            area: ['900px', '600px'],
                            shade: false,
                            closeBtn: 1,
                            shadeClose: true,
                            maxmin: true,
                            content: ['/admin/edit/' + d.data.id, 'no'],
                        });
                        //window.open('/admin/edit/'+d.data.id);
                    }
                    // 重命名操作
                    if (d.type == 4) {
                        let old_filename = d.data.text
                        layer.prompt({
                                title: '重命名',
                                success: function () {
                                    let f_name_array = old_filename.split('.')
                                    if (f_name_array.length>1){
                                        f_name_array.pop()
                                    }
                                    $('div.layui-layer-content input.layui-layer-input').val(f_name_array.join('.'))
                                }
                            },
                            // 点击确定事件
                            function (new_file_name, index) {
                                if (new_file_name.length <= 0) {
                                    layer.alert('文件名不能为空');
                                    return false;
                                } else if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s.]+$").test(new_file_name)) {
                                    layer.alert('文件名不能有特殊字符')
                                    return false;
                                }
                                layer.close(index)
                                $.ajax({
                                    url: '/admin/file-rename',
                                    type: 'post',
                                    data: {
                                        'file_id': d.data.id,
                                        'name': new_file_name,
                                        'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                                    },
                                    success: function (response) {
                                        if (response.code == 0) {
                                            let html_element = $('#tr' + d.data.id + ' td a')
                                            if (response.type == 0) {
                                                $('#path').val(response.path)
                                                html_element.text(response.name)
                                            } else {
                                                html_element.html('<i class="layui-icon layui-icon-file"></i>'+response.name +'</a>');
                                            }
                                            folder_click_event();
                                            right_click_menu();
                                        } else {
                                            layer.msg(response.msg);
                                        }
                                    }
                                });
                            }
                        );
                    }
                    //共享操作
                    if (d.type == 5){
                        layer.confirm('共享设置', {
                          btn: ['打开','关闭'] //按钮
                        }, function(){
                          layer.msg('共享成功', {time: 1000, icon: 1});
                        }, function(){
                          layer.msg('取消成功', {time: 1000, icon: 2});
                        });
                    }
                });
                return false;
            });
        }

        function init() {
            $('#file_list').empty();
            $('#folder_list').empty();

            if ($('#path').val() == '/') {
                $('#folder_list').empty();
            } else {
                //alert($('#folder_list'))
                $('#folder_list').append('<tr><td colspan="4"><a class="folder" style="padding:5px 200px 5px 0px">..</a></td></tr>');
            }

            let file = $.ajax({
                url: '/admin/get-file-list/file',
                type: 'post',
                data: {
                    'csrfmiddlewaretoken': function () {
                        return $('[name="csrfmiddlewaretoken"]').val();
                    },
                    "path": function () {
                        return $('#path').val()
                    }
                },
                success: function (d) {
                    if (d.code === 0) {
                        let tpl = $("#file-item")[0].innerHTML,
                        div = $('#file_list');

                        $.each(d.data,function (i,field) {
                            let url = build_href_link(field)
                            field.url = url
                            let s = laytpl(tpl).render(field)
                            div.append(s)
                        })
                    }
                }
            });

            let folder = $.ajax({
                url: '/admin/get-file-list/folder',
                type: 'post',
                data: {
                    'csrfmiddlewaretoken': function () {
                        return $('[name="csrfmiddlewaretoken"]').val();
                    },
                    "path": function () {
                        return $('#path').val()
                    }
                },
                success: function (d) {
                    if (d.code === 0) {
                        let tpl = $("#folder-item")[0].innerHTML,
                            div = $('#folder_list');

                        $.each(d.data,function (i,field) {
                            let s = laytpl(tpl).render(field)
                            div.append(s)
                        })
                    }
                }
            })

            $.when(file, folder).done(function () {
                folder_click_event();
                right_click_menu();
            })

        }

        init()
    });
</script>

 <script id="folder-item" type="text/html">
    <tr id="tr<% d.id %>">
        <td>
            <a owner="<% d.owner_id %>" tag="<% d.id %>" class="mr folder"><% d.name %></a>
        </td>
        <td><% d.username %></td>
        <td>0B</td>
        <td><% d.pub_date %></td>
    </tr>
</script>

<script id="file-item" type="text/html">
    <tr id="tr<% d.id %>">
        <td>
            <a owner="<% d.owner_id %>" tag="<% d.id %>" class="mr" target="_blank" href="<% d.url %>">
                <i class="layui-icon layui-icon-file"></i><% d.name %>
            </a>
        </td>
        <td><% d.username %></td>
        <td><% d.file_size %></td>
        <td><% d.pub_date %></td>
    </tr>
</script>
{% endblock %}