{% extends "admin/basic.html" %}
{% block notice%}
系统摘要
{% endblock %}
{% block mainbody %}
<style type="text/css">
.layui-table th,.layui-table td {
    text-align: center;
 }
.layui-table th{
    color:#000
}
caption{
    text-align:left;
    padding:20px 0;
}
.layui-col-md4{
    padding:0 5px
}
</style>
<script src="/static/public/highcharts/highcharts.js"></script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>系统摘要</legend>
</fieldset>

<div class="layui-row">
    <table class="layui-table">
        <thead>
            <tr>
                <th colspan="2">服务器</th>
                <th rowspan="2">用户</th>
                <th rowspan="2">文件</th>
                <th rowspan="2">独立服务器</th>
                <th colspan="{{data.cluster_count}}">ESXi虚拟机</th>
                <th colspan="{{data.cluster_count}}">ESXi服务器</th>

            </tr>
            <tr>
                <th>物理机</th>
                <th>虚拟机</th>
                {% for i in data.cluster_data %}
                <th>{{i.name}}</th>
                {% endfor %}
                {% for i in data.cluster_data %}
                <th>{{i.name}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{data.hosts_count}}</td>
                <td>{{data.vms_count}}</td>
                <td>{{data.user_count}}</td>
                <td>{{data.file_count}}</td>
                <td>{{data.esxi_none_count}}</td>
                {% for i in data.vms_count_data %}
                <td>{{i}}</td>
                {% endfor %}

                {% for i in data.esxi_count_data %}
                <td>{{i}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<div class="layui-tab layui-tab-card" lay-filter="tab_cluster">
  <ul class="layui-tab-title">
    {% for i in data.cluster_data %}
    <li tag="{{i.tag}}">{{i.name}}</li>
    {% endfor %}
  </ul>
  <div class="layui-tab-content" style="height: 400px;">
    <div id="chart"></div>
  </div>
</div>


<script type="text/javascript">
layui.use(['element', 'layer'], function(){
  var $ = layui.jquery
  ,layer = layui.layer
  ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
  
    $('.layui-tab-title li').first().addClass('layui-this')
    var chart = null;

    request_data_and_rend('cs');

    element.on('tab(tab_cluster)', function (data) {
        tag = $(this).attr('tag');
        request_data_and_rend(tag);
    })

    function request_data_and_rend(cluster_name) {
        $.getJSON(
           '/admin/get-cluster-count-info/'+cluster_name,
           function(d){
               if (d.code==0){
                   if (d.data.length == 0){
                       layer.msg('no data')
                   }else{
                       render_chart(d)
                    }
               }else{
                   alert(d.msg)
               }
           } 
        )
    }

    function render_chart(data){
        chart = Highcharts.chart('chart', {
            chart: {
                type: 'column',
                marginLeft:200,
                marginRight:200,
            },
            title: {
                text: data.name+'ESXi虚拟机分布'
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45  // 设置轴标签旋转角度
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: '数量（台）'
                }
            },
            legend: {
                enabled: false
            },
            series: [{
                name: '总数量（台）',
                data: data.data,
                dataLabels: {
                    enabled: true,
                    //rotation: -90,
                    color: '#FFFFFF',
                    align: 'center',
                    format: '{point.y:.f}', // :.1f 为保留 1 位小数
                    y: 10
                }
            }]
        });
    }
});
</script>

{% endblock %}