{% extends "admin/basic.html" %}
{% block notice%}
文档管理
{% endblock %}
{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
  <legend>文档管理</legend>
</fieldset>

<div class="layui-upload">
<input type="hidden" id="path" value="/">
<input type="hidden" id="owner" value="{{ user.id }}">
{% csrf_token %}
  <button type="button" class="layui-btn" id="btn_upload"><i class="layui-icon"></i>上传文件</button>
  <button type="button" class="layui-btn" id="btn_create_folder">新建文件夹</button>
  {% comment %} <button type="button" class="layui-btn" id="btn_percent">上传进度</button> {% endcomment %}
  <div class="layui-upload-list">
    <table class="layui-table" lay-skin="line">
    <thead>
      <colgroup>
        <col>
        <col width="250">
        <col width="200">
        <col>
      </colgroup>
      <tr style="background:#eee">
        <th>名称</th>
        <th>上传时间</th>
      </tr>
    </thead>
      <tbody id="default">
      <tr>
      <td><a class="folder">..</a></td>
      <td></td>
      </tr>
      </tbody>
      <tbody id="folder_list"></tbody>
      <tbody id="file_list"></tbody>
    </table>
  </div>
</div>
<link rel="stylesheet" href="/static/public/css/mouseRightMenu.css" />
<style type="text/css">
  .x{padding:5px;margin:5px 20px}
  .left{float:left}
  .right{float:right}
  .mr{cursor:pointer}
  .layui-icon-file{margin:0 5px}
  .folder{margin-left:10px;font-weight:bolder;cursor:pointer}
</style>
<div style="display:none" id="upload_percent_box">
<p><span class="x left">name:</span>   <span class="x right">percent:</span></p>
</div>
<script type="text/javascript">
layui.config({base: '/static/public/layui-extends/'})
layui.use(['upload', 'layer', 'mouseRightMenu'], function(){
  var $ = layui.jquery
  ,layer = layui.layer
  ,mouseRightMenu = layui.mouseRightMenu
  ,upload = layui.upload;
  
  upload.render({ //允许上传的文件后缀
    elem: '#btn_upload'
    //,url: 'https://httpbin.org/post' //改成您自己的上传接口
    ,url:'/admin/upload-file'
    ,accept: 'file' //普通文件
    ,size: 102400
    ,data:{
      'csrfmiddlewaretoken': function(){
        return $('[name="csrfmiddlewaretoken"]').val()
      },
      'path': function(){
        return $('#path').val()
      }
    }
    //,exts: 'zip|rar|7z' //只允许上传压缩文件
    ,done: function(res){
      if (res.code == 0){
        layer.msg('上传成功');
        container=$('#file_list')
        append_str = '<tr id="tr'+res.data.id+'"><td><a class="mr" tag="'+res.data.id+'" target="_blank" href="/admin/file-download/'+res.data.id+'"><i class="layui-icon layui-icon-file"></i>'+res.data.name+'</a></td><td>'+res.data.pub_date+'</td></tr>'
        container.append(append_str)
        refresh_right_click_menu()
      }
    }
    ,error: function(){
    }
  });

  refresh_file_list()  

  $('#btn_create_folder').on('click',function(){
    layer.open({
      type:1
      ,title: '新建文件夹'
      ,content: '<input type="text" name="folder_name" id="folder_name" style="width:200px;margin:10px 10px 0px 10px;padding:5px" />'
      ,btn: ['确定']
      ,btnAlign: 'c'
      ,yes: function(index, layero){
        //ajax post ...
        fn=$('#folder_name').val().trim()
        if (fn.length <=0){
          alert('目录名不能为空');
          return false;
        }else if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(fn)){
          alert('目录名不能有特殊字符')
          return false;
        }

        $.ajax({
          url:'/admin/create-folder',
          type:'post',
          data:{
            'name':fn,
            'path':$('#path').val(),
            'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
          },
          success:function(d){
            if(d.code==0){
              $('#folder_list').append('<tr id="tr'+d.data.id+'"><td><a tag="'+d.data.id+'" class="folder mr">'+d.data.name+'</a></td><td></tr>')
              refresh_folder_click_event();
              refresh_right_click_menu();
            }else{
              layer.msg(d.msg);
            }
          }
        })
        layer.close(layer.index)
      }
    }); 
  })

  $('#btn_percent').on('click',function(){
    layer.open({
      type: 1
      ,minleft: 1000
      ,id: 'upload_percent'
      ,area: ['400px','200px']
      ,shade: 0
      ,offset: 'rb'
      ,title: '上传进度'
      ,content: $('#upload_percent_box').html()
    }); 
  })

  function refresh_folder_click_event(){
      $('.folder').on('click',function(){
        //alert($(this).text())
        folder_name=$(this).text()
        path=$('#path').val()
        // 上级目录
        // 最顶层目录直接点击无效
        if (folder_name == '..' && path == '/'){
          return false
        }
        if (folder_name == '..' && path != '/'){
          a=path.split('/')
          b=a.slice(0,a.length-2)
          c=b.join('/')
          if (c == ''){
            $('#path').val('/')
          }else{
            $('#path').val(c+'/')
          }
        }else{
          $('#path').val(path+folder_name+'/')
        }
        refresh_file_list()
      })
  }

  function refresh_right_click_menu(){
    //右键监听
 		$('.mr').bind("contextmenu",function(e){
			var data = {id:$(this).attr('tag')}
 			var menu_data=[
				//{'data':data,'type':1,'title':'重命名'},
				{'data':data,'type':2,'title':'删除'}			
			]
 			mouseRightMenu.open(menu_data,false,function(d){
 				 //layer.alert(JSON.stringify(d));
         //删除操作
         if (d.type == 2){
           $.getJSON(
             '/admin/file-delete/'+d.data.id,
             function(res){
               if (res.code == 0){
                 //layer.msg('删除成功');
                 $('#tr'+d.data.id).empty()
               }
             }
           )
          //关闭菜单
         }
 			})
			return false;
		});
  }

  function refresh_file_list(){
    
    file=$.ajax({
      url:'/admin/get-filelist/file',
      type:'post',
      data:{
        'csrfmiddlewaretoken': function(){
          return $('[name="csrfmiddlewaretoken"]').val();
        },
        "path": function(){
          return $('#path').val()
        }        
      },
      success:function(d){
        $('#file_list').empty();
        if (d.code == 0){
          $.each(d.data,function(i,field){
            append_str = '<tr id="tr'+field.id+'"><td><a tag="'+field.id+'" class="mr" target="_blank" href="/admin/file-download/'+field.id+'"><i class="layui-icon layui-icon-file"></i>'+field.name+'</a></td><td>'+field.pub_date+'</td></tr>'
            $('#file_list').append(append_str)
          })
        }
      }
    });

    folder=$.ajax({
      url:'/admin/get-filelist/folder',
      type:'post',
      data:{
        'csrfmiddlewaretoken': function(){
          return $('[name="csrfmiddlewaretoken"]').val();
        },
        "path": function(){
          return $('#path').val()
        }        
      },
      success:function(d){
        $('#folder_list').empty();
        if (d.code == 0){
          $.each(d.data,function(i,field){
            append_str = '<tr id="tr'+field.id+'"><td><a tag="'+field.id+'" class="mr folder">'+field.name+'</a></td><td></td></tr>'
            $('#folder_list').append(append_str);
          })
        }
      }
    })

    $.when(file,folder).done(function(){
      refresh_folder_click_event();
      refresh_right_click_menu();
    })

  }
});
</script>
{% endblock %}