{% extends "admin/basic.html" %}
{% block notice%}
网络设备 / 网络信息
{% endblock %}
{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
    <legend>网络信息管理</legend>
</fieldset>
<div class="layui-row">
    <form class="layui-form" method="POST" action="/admin/get-device-list/lan_net">
    {% csrf_token %}
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-inline">
                <div class="layui-input-inline" style="width:100px">
                    <select name="branch_id" lay-verify="required" lay-search="">
                        <option {%ifequal current_branch_id 0 %}selected=""{%endifequal%} value="0">全部</option>
                        {% for i in branch_data %}
                        <option {%ifequal current_branch_id i.id %}selected=""{%endifequal%} value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="keyword" name="keyword" placeholder="请输入查询关键字" class="layui-input">
                </div>
                <button type="button" onclick="$(form).submit();" class="layui-btn" id="search" >
                    <i class="layui-icon layui-icon-search"></i>查找
                </button>
            </div>
        </div>
    </form>
</div>
<div class="layui-form">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="80">
            <col width="100">
            <col>
            <col>
            <col>
            <col>
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>分公司</th>
            <th>IP</th>
            <th>网关</th>
            <th>vlan id</th>
            <th>用途</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {%for i in obj%}
        <tr id="id_{{i.id}}">
            <td>{{ forloop.counter }}</td>
            <td>{{ i.branch.name }}</td>
            <td>{{ i.ip }}</td>
            <td>{{ i.gateway }}</td>
            <td>{{ i.vlanid }}</td>
            <td>{{ i.function }}</td>
            <td>
                <a href="/admin/edit/lan_net/{{i.id}}" title="edit" class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-edit"></i>
                </a>
                <a flag="{{ i.id }}" title="delete" class="layui-btn layui-btn-primary layui-btn-xs btn-delete">
                    <i class="layui-icon layui-icon-delete"></i>
                </a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div id="page"></div>
</div>
<script type="text/javascript">
    layui.use(['layer', 'form', 'laypage'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            layer = layui.layer;
            
        laypage.render({
            elem: 'page',
            count: {{rs_count}},
            limit: {{page_size}},
            curr: {{curr_page}},
            layout: ['count','prev', 'page', 'next'],
            jump: function(obj, first){
                //console.log(obj.curr);
                //console.log(obj.limit);
                if(!first){
                    window.location.href='/admin/get-device-list/lan_net?page='+obj.curr
                
                }
            }
        });

        $('.btn-delete').bind('click', function () {
            var id = $(this).attr('flag')
            layer.confirm('真的要删除该项', function (index) {
                var url = "/admin/delete/lan_net/" + id
                $.getJSON(
                    url,
                    function (d) {
                        if (d.code == 0) {
                            $('#id_' + id).empty();
                        } else {
                            layer.alert(d.msg);
                        }
                    }
                );
                layer.close(index)
            });
        });
    })
</script>
{% endblock %}