{% extends "admin/basic.html" %}
{% block notice%}
虚拟机管理
{% endblock %}
{% block mainbody %}
<style type="text/css">
.layui-btn-xs{
    line-height:20px;
    height:20px;
    padding:0 2px;
}
</style>
<fieldset class="layui-elem-field layui-field-title">
    <legend>虚拟机管理</legend>
</fieldset>

<div class="layui-tab layui-tab-brief" lay-filter="tab_cluster">
    <ul class="layui-tab-title">
        <li flag="cs" class="layui-this">长沙</li>
        <li flag="xh">新化</li>
        <li flag="test">开发</li>
    </ul>
    <div class="layui-row">
        <!--left content-->
        <div class="layui-col-md10">
            <table id="dt" lay-filter="dt"></table>
            <div id="page"></div>
        </div>
        <!--right content-->
        <div class="layui-col-md2" style="padding-left: 10px;" >
            <table class="layui-table" lay-size="sm">
                <colgroup>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>主机名</th>
                    </tr>
                </thead>
                <tbody id="esxi_tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <a lay-event='edit' class='layui-btn layui-btn-primary layui-btn-xs'>&nbsp;<i class='layui-icon'></i></a>
    <a lay-event='del' class='layui-btn layui-btn-primary layui-btn-xs'>&nbsp;<i class='layui-icon'></i></a>
  </div>
</script>

<script type="text/javascript">
    layui.use(['element', 'laypage', 'layer', 'table'], function () {
        var $ = layui.jquery,
            laypage = layui.laypage,
            table = layui.table,
            element = layui.element;

        var flag = "cs";
        var tab_act = '_all';

        //初始化加载
        refresh_esxi_table("/admin/get-hosts-list/type/host/flag/cs");
        refresh_vms_table("/admin/get-hosts-list/type/vm/flag/cs_all");

        // listen tab click event
        element.on('tab(tab_cluster)', function (data) {
            // dev_type = "vm"
            tab_act = '_all'
            flag = $(this).attr('flag');
            refresh_esxi_table("/admin/get-hosts-list/type/host/flag/" + flag);
            refresh_vms_table("/admin/get-hosts-list/type/vm/flag/" + flag + "_all");
        })

        table.on('tool(dt)',function(obj){
            var event=obj.event
            if (event == 'edit'){
                window.location.href='/admin/edit/vm/'+obj.data.id
            }else if (event == 'del'){
                layer.confirm('真的删除行么', function(index){
                    var url = "/admin/delete/vm/" + obj.data.id;
                    $.getJSON(
                        url,
                        function (d) {
                            if (d.code == 0) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                            }else{
                                alert(msg.id);
                            }
                        }
                    )
                });
            }
        })
        
        //　ajax refresh vm table
        function refresh_vms_table(_url) {
            $('#page').empty()
            var page_size=rs_count=curr_page=1;
            var index=0
            table.render({
                size: 'sm'
                ,elem: '#dt'
                ,request:{
                    pageName: 'curr'
                    ,limitName: 'nums'
                }
                ,url: _url //数据接口
                ,cols: [[ 
                    {title: '序号', width:60,fixed: 'left',templet: function(){
                        if(index<15){
                            index +=1;
                        }else{
                            index = 1
                        }
                        return index;
                    }}
                    ,{field: 'id', title: 'id', width:250, hide:true}
                    ,{field: 'vm_hostname',fixed: 'left', title: '主机名', width:220}
                    ,{field: 'vm_ip', fixed: 'left', title: 'IP', width:120}
                    ,{field: 'vlan_tag', title: 'VLAN标签', width:100}
                    ,{field: 'vlan_id', title: 'VLAN ID', width:100}
                    ,{field: 'vm_cpu', title: 'CPU', width: 80, sort: true}
                    ,{field: 'vm_memory', title: '内存', width: 80}
                    ,{field: 'vm_disk', title: '硬盘', width: 80}
                    ,{field: 'vm_register', title: '申请人', width: 90}
                    ,{field: 'vm_monitor', title: '监控', width: 60, templet:function(d){
                        if (d.vm_monitor == 'on'){
                            return '<i class="layui-icon" style="color:green">&#xe665;</i>'
                        }else{
                            return ''
                        }
                    }}
                    ,{field: 'esxi_host_name', title: '宿主机', width: 200}
                    ,{field: 'vm_os', title: '操作系统', width: 80}
                    ,{field: 'pub_date', title: '添加时间', width: 100, templet: function(item){return item.pub_date.substring(0, 10)}}
                    ,{title: '操作', width: 90, fixed: 'right', toolbar: '#toolbar'}
                ]]
                ,done: function(res,cur,count){
                    page_size=res.page_data.page_size;
                    rs_count = res.page_data.rs_count;
                    curr_page = res.page_data.curr_page;
                    // 渲染分页
                    laypage.render({
                        elem: 'page', // page container
                        limit: page_size, // page size
                        count: rs_count, // record total
                        curr: curr_page, // current page
                        layout: ['count','prev', 'page', 'next'],
                        jump: function (obj, first) {
                            //首次不执行
                            if (!first) {
                                refresh_vms_table("/admin/get-hosts-list/type/vm/flag/" + flag + tab_act + "/?page=" + obj.curr)
                            } 
                        }
                    });
                }
            });
        }

        //refresh esxi host table
        function refresh_esxi_table(url) {
            $.getJSON(
                url,
                function (result) {
                    var tbody = $('#esxi_tbody');
                    tbody.empty();
                    $.each(result.data, function (i, item) {
                        var tbody_content = "<tr><td><a href='javascript:;' onclick='javascript:refresh_vms_of_esxi(\"" + item.hostname + "\");'>" + item.hostname + "</a></td></tr>";
                        tbody.append(tbody_content);
                    })
                }
            )
        }

        // ajax refresh vm by spcific esxi hosts
        window.refresh_vms_of_esxi = function (s) {
            flag = s
            tab_act = ''
            refresh_vms_table("/admin/get-hosts-list/type/vm/flag/" + flag + tab_act)
        }
    });
</script>

{% endblock %}