{% extends "admin/basic.html" %}

{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>用户管理</legend>
</fieldset>

<div class="layui-form">
  <table class="layui-table">
    <thead>
      <tr>
        <th>序号</th>
        <th>用户名</th>
        <th>姓名</th>
        <th>邮箱</th>
        <!-- <th>类型</th> -->
        <th>状态</th>
        <th>注册时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody id="tbody">
      {%for i in obj%}
      <tr id="id_{{i.id}}">
        <td>{{ forloop.counter }}</td>
        <td>{{i.username}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.email}}</td>
        <!-- <td>{%ifequal i.is_staff True%}管理员{%else%}普通用户{%endifequal%}</td> -->
        <td>{%ifequal i.is_active True%}启用{%else%}禁用{%endifequal%}</td>
        <td>{{i.date_joined}}</td>
        <td>
          <a href="{%url 'admin:edit' 'user' i.id %}" class="layui-btn layui-btn-primary layui-btn-xs">
            &nbsp;<i class="layui-icon">&#xe642;</i>
          </a>
          <a href="javascript:row_del({{ i.id }});" class="layui-btn layui-btn-primary layui-btn-xs">
            &nbsp;<i class="layui-icon">&#xe640;</i>
          </a>
          <a href="{%url 'admin:permission_admin' i.id %}" class="layui-btn layui-btn-primary layui-btn-xs">
            &nbsp;<i class="layui-icon">&#xe672;</i>
          </a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
<script>
  function row_del(id) {
    //alert(s)
    var url = "/admin/delete/user/" + id
    $.getJSON(
      url,
      function (d) {
        if (d.code == 0) {
          $('#id_' + id).empty();
        }else{
          alert(d.msg);
        }
      }
    )
  }
</script>
{% endblock %}