{% extends "admin/basic.html" %}
{% block notice%}
视频监控 / 监控主机
{% endblock %}
{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
    <legend>监控主机列表</legend>
</fieldset>

<div class="layui-row">
    <form class="layui-form" method="GET" action="/admin/list-monitor-info">
    {% comment %} {% csrf_token %} {% endcomment %}
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-inline">
                <div class="layui-input-inline" style="width:100px">
                    <select name="branch_id" lay-filter="branch" lay-verify="required" lay-search="">
                        <option {% ifequal current_branch_id 0 %}selected=""{% endifequal %} value="0">全部</option>
                        {% for i in branch_data %}
                        <option {% ifequal current_branch_id i.id %}selected=""{% endifequal %} value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="keyword" name="keyword" value="{%ifnotequal keyword None%}{{keyword}}{%endifnotequal%}" placeholder="请输入查询关键字" class="layui-input">
                </div>
                <button type="button" onclick="$(form).submit();" class="layui-btn" id="search" >
                    <i class="layui-icon layui-icon-search"></i>查找
                </button>
                <a href="javascript:;" class="layui-btn btn-export">
                    <i class="layui-icon layui-icon-download-circle"></i>导出
                </a>
            </div>
        </div>
    </form>
</div>

<div class="layui-form">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="80">
            <col width="100">
            <col width="200">
            <col>
            <col width="200">
            <col width="100">
            <col width="100">
            <col width="100">
            <col width="130">
            <col width="120">            
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>地区</th>
            <th>设备型号</th>
            <th>备注（楼层信息）</th>
            <th>IP</th>
            <th>摄像头数量</th>
            <th>空闲通道</th>
            <th>剩余槽位</th>
            <th>硬盘容量</th>
            <th>存储三个月</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {%for i in obj%}
        <tr id="id_{{i.id}}">
            <td>{{ forloop.counter }}</td>
            <td>{{i.branch.name}}</td>
            <td>{{i.dev_model}}</td>
            <td>{{i.desc}}</td>
            <td>{{i.ip}}</td>
            <td>{{ i.camera_nums }}个</td>
            <td>{{ i.idle_channel }}个</td>
            <td>{{i.idle_slot}}个</td>
            <td>{{i.hdd}}T</td>
            <td>{%ifequal i.storage 1%}满足{% else %}不满足{%endifequal%}</td>
            <td>
                {% if perms.app.change_monitor %}
                <a href="/admin/edit/monitor/{{i.id}}" title="edit" class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-edit"></i>
                </a>
                {% endif %}
                {% if perms.app.delete_monitor %}
                <a flag="{{ i.id }}" title="delete" class="layui-btn layui-btn-primary layui-btn-xs btn-delete">
                    <i class="layui-icon layui-icon-delete"></i>
                </a>
                {% endif %}
                {% if perms.app.change_monitor %}
                <a target="_blank" href="https://{{i.ip}}" lay-event='link' title="connect" class='layui-btn layui-btn-primary layui-btn-xs'>
                    <i class='layui-icon layui-icon-link'></i>
                </a>
                {% endif %}
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div id="page"></div>
</div>
<script type="text/javascript">
    layui.use(['layer', 'form', 'laypage'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laypage = layui.laypage,
            layer = layui.layer;

        $('#keyword').on('keydown',function(event){
            console.log(event)
            if(event.keyCode==13){
                $('#search').click();
            }
        })

        $('.btn-export').click(function(){
            let action_url = $('form').attr('action');
            let branch_id = $('select[name="branch_id"]').val();
            let keyword = $('input[name="keyword"]').val();
            let new_url = action_url+'?branch_id='+branch_id+'&keyword='+keyword+'&export=t';
            window.open(new_url);
        })

        form.on('select(branch)',function(data){
            $('#search').click()
        })

        laypage.render({
            elem: 'page',
            count: {{rs_count}},
            limit: {{page_size}},
            curr: {{curr_page}},
            layout: ['count','prev', 'page', 'next'],
            jump: function(obj, first){
                //console.log(obj.curr);
                //console.log(obj.limit);
                if(!first){
                    let branch_id = $('select[name="branch_id"]').val()
                    let keyword = $('input[name="keyword"]').val()
                    window.location.href='/admin/list-monitor-info?branch_id='+branch_id+'&keyword='+keyword+'&page='+obj.curr
                
                }
            }
        });

        $('.btn-delete').bind('click', function () {
            var id = $(this).attr('flag')
            layer.confirm('真的要删除该项', function (index) {
                var url = "/admin/delete/monitor/" + id
                $.getJSON(
                    url,
                    function (d) {
                        if (d.code == 0) {
                            $('#id_' + id).empty();
                        } else {
                            layer.alert(d.msg);
                        }
                    }
                );
                layer.close(index)
            });
        });
    })
</script>
{% endblock %}