{% extends "admin/basic.html" %}

{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
  <legend>服务管理</legend>
</fieldset>

<div class="layui-tab layui-tab-brief" lay-filter="tab_cluster">
  <ul class="layui-tab-title">
    <li flag="cs" class="layui-this">长沙</li>
    <li flag="xh">新化</li>
    <li flag="test">开发</li>
    <li flag="none">裸机</li>
  </ul>
  <div class="layui-form">
    <table class="layui-table" lay-size="sm">
      <colgroup>
        <col width="45">
        <col width="100">
        <col width="220">
        <col width="90">
        <col width="90">
        <col width="100">
        <col width="60">
        <col width="60">
        <col width="60">
        <col width="70">
        <col width="85">
        <col>
      </colgroup>
      <thead>
        <tr>
          <th>序号</th>
          <th>型号</th>
          <th>主机名</th>
          <th>iDRC IP</th>
          <th>主机 IP</th>
          <th>SN</th>
          <th>CPU</th>
          <th>内存</th>
          <th>硬盘</th>
          <th>操作系统</th>
          <th>加入时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>
  </div>
</div>
<script>
  layui.use('element', function () {
    var $ = layui.jquery,
      element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    refresh_table("/admin/get-hosts-list/type/host/flag/cs");

    element.on('tab(tab_cluster)', function (data) {
      var flag = $(this).attr('flag');
      var url = "/admin/get-hosts-list/type/host/flag/" + flag;
      refresh_table(url);
    })

    function refresh_table(url) {
      $.getJSON(
        url,
        function (result) {
          var tbody = $('#tbody');
          tbody.empty();
          $.each(result.data, function (i, item) {
            // var opt_value = "<option value='" + item.id + "'>" + item.hostname + "</option>";
            // device_list_control.append(opt_value);
            var tbody_content = "<tr id='id_" + item.id + "'>" +
              "<td>" + (i + 1) + "</td>" +
              "<td>" + item.dev_model + "</td>" +
              "<td>" + item.hostname + "</td>" +
              "<td>" + item.idrc_ip + "</td>" +
              "<td>" + item.host_ip + "</td>" +
              "<td>" + item.sn + "</td>" +
              "<td>" + item.cpu + "</td>" +
              "<td>" + item.memory + "</td>" +
              "<td>" + item.disk + "</td>" +
              "<td>" + item.os + "</td>" +
              "<td>" + item.pub_date.substring(0, 10) + "</td>" +
              "<td><a href='/admin/edit/host/" + item.id + "/' class='layui-btn layui-btn-primary layui-btn-xs'>&nbsp;<i class='layui-icon'></i></a>" +
              "<a href='javascript:;' onclick='javascript:row_del(" + item.id + ")' class='layui-btn layui-btn-primary layui-btn-xs'>&nbsp;<i class='layui-icon'></i></a></td></tr>";
            tbody.append(tbody_content);
          })
        }
      )
    }

    window.row_del = function (id) {
      //alert(s)
      var url = "/admin/delete/host/" + id
      $.getJSON(
        url,
        function (d) {
          if (d.code == 0) {
            $('#id_' + id).empty();
          }else{
            alert(d.msg)
          }
        }
      )
    }


  });
</script>
{% endblock %}