{% extends "admin/basic.html" %}
{% block notice%}
虚拟机管理
{% endblock %}
{% block mainbody %}
<style type="text/css">
.layui-btn-xs{
    line-height:20px;
    height:20px;
    padding:0 2px;
}
.zbx_st,.vm_host_tips{
    cursor:pointer
}

#vm_host_tips_content{
    display:None
}
.layui-form-switch {
    height: 18px;
    line-height:18px;
}
.layui-form-switch i {
    top:1;
}
</style>
<fieldset class="layui-elem-field layui-field-title">
    <legend>虚拟机管理</legend>
</fieldset>
<div class="layui-row">
    <div class="layui-form-item" style="text-align: center;">
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 300;">
                <input type="text" id="keyword" name="keyword" placeholder="请输入主机名或者ip" class="layui-input">
            </div>
            <button type="button" class="layui-btn" id="search" >
                <i class="layui-icon layui-icon-search"></i>查找
            </button>
            <a target="_blank" href="/admin/export-server/vm" class="layui-btn">
                <i class="layui-icon layui-icon-download-circle"></i>全部导出
            </a>
        </div>
    </div>
</div>
<div class="layui-tab layui-tab-brief" lay-filter="tab_cluster">
    <ul class="layui-tab-title">
        {% for i in cluster_data %}
        <li flag="{{i.tag}}">{{i.name}}</li>
        {% endfor %}
    </ul>
    <div class="layui-row">
        <!--left content-->
        <input type="hidden" id="auth" value="{{zabbix_api.AUTH}}" />
        <input type="hidden" id="url" value="{{zabbix_api.URL}}" />
        <input type="hidden" id="zabbix_status" value="{{zabbix_api.STATUS}}" />
        <div class="layui-col-md10" id="vms_list">
            <table id="dt" lay-filter="dt"></table>
            <div id="page"></div>
        </div>
        <!--right content-->
        <div class="layui-col-md2" id="host_list" style="padding-left: 10px;" >
            <table class="layui-table" lay-size="sm">
                <colgroup>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>宿主机</th>
                    </tr>
                </thead>
                <tbody id="esxi_tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="vm_host_tips_content"></div>
<script type="text/html" id="zbx_checkbox">
  <input type="checkbox" name="zbx_status" value="{% verbatim %}{{d.vm_monitor}}{% endverbatim %}" lay-skin="switch" lay-text="on|off" lay-filter="zbx_status"{% verbatim %}{{ d.vm_monitor == 'on' ? 'checked' : '' }}{% endverbatim %}>
</script>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <a lay-event='edit' class='layui-btn layui-btn-primary layui-btn-xs'>&nbsp;<i class='layui-icon layui-icon-edit'></i></a>
    <a lay-event='del' class='layui-btn layui-btn-primary layui-btn-xs'>&nbsp;<i class='layui-icon layui-icon-delete'></i></a>
   <a lay-event='link' class='layui-btn layui-btn-primary layui-btn-xs'>&nbsp;<i class='layui-icon layui-icon-link'></i></a>
  </div>
</script>

<script type="text/javascript">
    layui.use(['element', 'form', 'laypage', 'layer', 'table'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            laypage = layui.laypage,
            table = layui.table,
            form = layui.form,
            element = layui.element;

        var flag = "cs";
        var tab_act = '_all';
        
        $('.layui-tab-title li').first().addClass('layui-this')
        $('#search').on('click',function () {
            var keyword=$('#keyword').val()
            if (keyword.trim().length == 0){
                layer.msg('关键字不能为空');
                return;
            }
            $('#page').hide()
            $('#host_list').hide()
            $('#vms_list').css('width','100%')
            refresh_vms_table('/admin/search/vm/'+keyword)
        })

        form.on('switch(zbx_status)', function(obj){
            //obj.elem.checked
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });


        //初始化加载
        refresh_esxi_table("/admin/get-hosts-list/type/host/flag/cs");
        refresh_vms_table("/admin/get-hosts-list/type/vm/flag/cs_all");

        // listen tab click event
        element.on('tab(tab_cluster)', function (data) {
            // dev_type = "vm"
            tab_act = '_all'
            flag = $(this).attr('flag');
            $('#page').empty()
            $('#host_list').show()
            $('#vms_list').removeAttr('style')
            refresh_esxi_table("/admin/get-hosts-list/type/host/flag/" + flag);
            refresh_vms_table("/admin/get-hosts-list/type/vm/flag/" + flag + "_all");
        })

        table.on('tool(dt)',function(obj){
            var event=obj.event
            if (event == 'edit'){
                window.location.href='/admin/edit/vm/'+obj.data.id
            }
            if (event == 'del'){
                layer.confirm('真的删除行么', function(index){
                    var url = "/admin/delete/vm/" + obj.data.id;
                    $.getJSON(
                        url,
                        function (d) {
                            if (d.code == 0) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                            }else{
                                alert(msg.id);
                            }
                        }
                    )
                });
            }
            if (event == 'link'){
                var pwd = ''
                // 弹出密码框输入密码
                if (obj.data.vm_os == 'Windows'){
                    layer.msg('windows操作系统不支持');
                    return false;
                }
                layer.prompt({
                    title: '输入用户名密码', 
                    formType: 1,
                    success:function(){
                        //alert('1')
                        $(".layui-layer-content").empty();
                        $(".layui-layer-content").append('<input type="text" class="layui-layer-input" value="root" id="username" placeholder="用户名"/><br/>\
                                                        <input type="password" id="password" class="layui-layer-input" placeholder="密码">')
                        $('.layui-layer-btn0').on('click',function(){
                            if ($('#password').val().trim().length == 0){
                                layer.msg('密码不能为空');
                                return false;
                            }
                            if ($('#username').val().trim().length == 0){
                                layer.msg('用户名不能为空');
                                return false;
                            }
                            pwd = window.btoa($('#password').val());
                            layer.closeAll();
                            // 弹出webshell iframe
                            layer.open({
                                type: 2,
                                title: obj.data.vm_ip,
                                area: ['800px', '600px'],
                                shade: false,
                                closeBtn: 1,
                                shadeClose: true,
                                maxmin: true,
                                content: ['/admin/webshell/?type=ssh&host='+obj.data.vm_ip+'&port=22&user='+ $('#username').val() +'&password='+pwd, 'no'],
                                success: function(layero, index) {
                                    layer.iframeAuto(index);
                                }
                            });
                        })
                    }
                });
            }
        })
        
        //　ajax refresh vm table
        function refresh_vms_table(_url) {
            $('#page').empty()
            var page_size=rs_count=curr_page=1;
            var index=0
            table.render({
                size: 'sm'
                ,elem: '#dt'
                ,request:{
                    pageName: 'curr'
                    ,limitName: 'nums'
                }
                ,url: _url //数据接口
                ,cols: [[ 
                    {title: '序号', width:60,fixed: 'left',templet: function(d){
                        return d.LAY_TABLE_INDEX+1
                    }}
                    ,{field: 'id', title: 'id', width:250, hide:true}
                    ,{field: 'vm_hostname',fixed: 'left', title: '主机名', width:220, templet:function(d){
                        if(d.vm_monitor == 'on'){
                            return '<span class="vm_host_tips" tag="'+d.vm_ip+'">'+d.vm_hostname+'</span>'                            
                        }else{
                            return d.vm_hostname
                        }
                    }}
                    ,{field: 'vm_ip', fixed: 'left', title: 'IP', width:120}
                    ,{field: 'vm_status', title: '状态', templet:function(d){
                        if (d.vm_status == 0){
                            return '开机'
                        }else{
                            return '<span style="color:red">关机</span>'
                        }
                    }}
                    ,{field: 'vlan_tag', title: 'VLAN标签', width:100}
                    ,{field: 'vlan_id', title: 'VLAN ID', width:100}
                    ,{field: 'vm_cpu', title: 'CPU', width: 80, sort: true}
                    ,{field: 'vm_memory', title: '内存(G)', width: 80,templet:function(d){return d.vm_memory+'G'}}
                    ,{field: 'vm_disk', title: '硬盘(G)', width: 80,templet:function(d){return d.vm_disk+'G'}}
                    ,{field: 'vm_register', title: '申请人', width: 90}
                    //,{title:'Zabbix', width:90, toolbar:'#zbx_checkbox', unresize:true}
                    ,{field: 'vm_monitor', title: '监控', width: 60, templet:function(d){
                        if (d.vm_monitor == 'on'){
                            return '<i tag="'+d.id+'" class="layui-icon zbx_st" style="color:green">&#xe665;</i>'
                        }else{
                            return '<i class="layui-icon">&#xe665;</i>'
                        }
                    }}
                    ,{field: 'esxi_host_name', title: '宿主机', width: 200}
                    ,{field: 'vm_os', title: '操作系统', width: 80}
                    ,{field: 'pub_date', title: '添加时间', width: 100, templet: function(item){return item.pub_date.substring(0, 10)}}
                    ,{title: '操作', width: 130, fixed: 'right', toolbar: '#toolbar'}
                ]]
                ,done: function(res,cur,count){
                    if ($('#zabbix_status').val() == 'enable'){
                        refresh_zabbix_info_event();
                    }                    
                    if (res.page_data == undefined){
                        return;
                    }
                    page_size=res.page_data.page_size;
                    rs_count = res.page_data.rs_count;
                    curr_page = res.page_data.curr_page;
                    // 渲染分页
                    laypage.render({
                        elem: 'page', // page container
                        limit: page_size, // page size
                        count: rs_count, // record total
                        curr: curr_page, // current page
                        layout: ['count','prev', 'page', 'next'],
                        jump: function (obj, first) {
                            //首次不执行
                            if (!first) {
                                refresh_vms_table("/admin/get-hosts-list/type/vm/flag/" + flag + tab_act + "/?page=" + obj.curr)
                            } 
                        }
                    });
                }
            });
        }

        //refresh esxi host table
        function refresh_esxi_table(url) {
            $.getJSON(
                url,
                function (result) {
                    var tbody = $('#esxi_tbody');
                    tbody.empty();
                    $.each(result.data, function (i, item) {
                        var tbody_content = "<tr><td><a href='javascript:;' onclick='javascript:refresh_vms_of_esxi(\"" + item.hostname + "\");'>" + item.hostname + "</a></td></tr>";
                        tbody.append(tbody_content);
                    })
                }
            )
        }

        function refresh_zabbix_info_event(){
            var server_info = null

            $('.zbx_st').on('click',function(){
                id=$(this).attr('tag')
                window.open('/admin/view-server-info/'+id)
                //alert(id)
            })

            $('.vm_host_tips').on('click',function(){
                var obj=$(this)
                var ip=$(this).attr('tag');
                post_data={
                    "jsonrpc": "2.0",
                    "method": "host.get",
                    "params": {
                        "output": [
                            "hostid",
                            "host",
                            "status"
                        ],
                        "selectInterfaces": [
                            "interfaceid",
                            "ip"
                        ],
                        "selectItems": [
                            "name","lastvalue","key_","itemid"
                        ],
                        "filter": {
                                "ip": ip
                        }
                    },
                    "auth": $('#auth').val(),
                    "id": 1
                }
                info=$.ajax({
                    url:$('#url').val(),
                    type:'POST',
                    dataType:'json', //返回类型
                    contentType: "application/json", //必须有
                    data:JSON.stringify(post_data),
                    success:function(d){
                        server_info = d
                    },
                    error:function(e){
                        alert(JSON.stringify(e))
                    }
                })
                $.when(info).done(function(){
                    key_array=[
                        'system.cpu.util',
                        'vm.memory.size[available]',
                        'vfs.fs.size[/,pused]',
                        'vfs.fs.size[/home,pused]',
                    ];
                    tips_str="";

                    if(server_info.result[0].status == 1){
                        tips_str+="状态: 停用</br>"
                    }else{
                        $.each(server_info.result[0].items, function(i,item){
                            if($.inArray(item.key_,key_array) != -1){
                                if (item.lastvalue>100){
                                    value=Math.round(item.lastvalue/1024/1024/1024)+' G'
                                }else{
                                    value=Math.round(item.lastvalue)+' %'
                                }
                                tips_str+=item.name+': '+value+'</br>';
                            }
                        })
                    }
                   
                    layer.tips(tips_str, obj, {
                        tips: [3, '#3595CC'],
                        time: 3000
                    });
                })
            })
        }

        // ajax refresh vm by spcific esxi hosts
        window.refresh_vms_of_esxi = function (s) {
            flag = s
            tab_act = ''
            refresh_vms_table("/admin/get-hosts-list/type/vm/flag/" + flag + tab_act)
        }
    });
</script>

{% endblock %}
