{% extends "admin/basic.html" %}
{% block notice%}
网络设备 / 网络信息
{% endblock %}
{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title">
    <legend>网络信息管理</legend>
</fieldset>

<div class="layui-form">
    <table class="layui-table">
        <colgroup>
            <col width="80">
            <col width="100">
            <col>
            <col>
            <col>
            <col>
            <col width="150">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>分公司</th>
            <th>IP</th>
            <th>网关</th>
            <th>带宽</th>
            <th>费用</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {%for i in obj%}
        <tr id="id_{{i.id}}">
            <td>{{ forloop.counter }}</td>
            <td>{{ i.branch.name }}</td>
            <td>{{ i.ip }}</td>
            <td>{{ i.gateway }}</td>
            <td>{{ i.vlanid }}</td>
            <td>{{ i.function }}</td>
            <td>
                <a href="/admin/edit/lan_net/{{i.id}}" title="edit" class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-edit"></i>
                </a>
                <a flag="{{ i.id }}" title="delete" class="layui-btn layui-btn-primary layui-btn-xs btn-delete">
                    <i class="layui-icon layui-icon-delete"></i>
                </a>
                <!-- <a target="_blank" title="logs" href="/admin/view-logs/clusterinfo/{{ i.id }}"
                   class="layui-btn layui-btn-primary layui-btn-xs">
                    <i class="layui-icon layui-icon-log"></i>
                </a> -->
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    layui.use('layer', function () {
        var $ = layui.jquery,
            layer = layui.layer;

        $('.btn-delete').bind('click', function () {
            var id = $(this).attr('flag')
            layer.confirm('真的要删除该项', function (index) {
                var url = "/admin/delete/branch/" + id
                $.getJSON(
                    url,
                    function (d) {
                        if (d.code == 0) {
                            $('#id_' + id).empty();
                        } else {
                            layer.alert(d.msg);
                        }
                    }
                );
                layer.close(index)
            });
        });
    })
</script>
{% endblock %}