{% extends "admin/basic.html" %}
{% block notice%}
网址导航
{% endblock %}
{% block mainbody %}
<div>
    <ul class="test">
        <li>
            <a href="http://zabbix.cs.hnyongxiong.com" target="_blank">
                <img src="/static/admin/img/zabbix.png">
                <p style="height:16px;line-height:16px;">Zabbix</p>
            </a>
        </li>
        <li>
            <a href="http://email.yubang168.cn:8080/yxemail/security/login.do" target="_blank">
                <img src="/static/admin/img/email.png">
                <p style="height:16px;line-height:16px;">永雄邮箱</p>
            </a>
        </li>
        <li>
            <a href="http://172.31.19.254:3000" target="_blank">
                <img src="/static/admin/img/grafana.png">
                <p style="height:16px;line-height:16px;">Grafana</p>
            </a>
        </li>
        <li>
            <a href="http://elk.cs.hnyongxiong.com" target="_blank">
                <img src="/static/admin/img/kibana.png">
                <p style="height:16px;line-height:16px;">ELK</p>
            </a>
        </li>
        <li>
            <a href="https://pldsec.cs.hnyongxiong.com" target="_blank">
                <img src="/static/admin/img/pldsec.png">
                <p style="height:16px;line-height:16px;">帕拉迪</p>
            </a>
        </li>
        <li>
           <a href="http://10.7.252.66:8899/" target="_blank">
                <img src="/static/admin/img/smartping.png">
                <p style="height:16px;line-height:16px;">SmartPing</p>
            </a>
        </li>
        <li>
           <a href="https://vcsa01.cs.hnyongxiong.com/" target="_blank">
                <img src="/static/admin/img/vsphere.png">
                <p style="height:16px;line-height:16px;">vSphere</p>
            </a>
        </li>
         <li>
           <a href="https://10.0.88.122" target="_blank">
                <img src="/static/admin/img/cacti.png">
                <p style="height:16px;line-height:16px;">Cacti</p>
            </a>
        </li>
         <li>
           <a href="https://10.0.88.125" target="_blank">
                <img src="/static/admin/img/ACS.png">
                <p style="height:16px;line-height:16px;">Cisco Secure ACS</p>
            </a>
        </li>
         <li>
           <a href="http://172.31.11.252/SITE/Pages/Common/Main.aspx" target="_blank">
                <img src="/static/admin/img/donghuan.png">
                <p style="height:16px;line-height:16px;">机房动环</p>
            </a>
        </li>
         <li>
           <a href="https://172.31.19.2:8443" target="_blank">
                <img src="/static/admin/img/360.png">
                <p style="height:16px;line-height:16px;">360天擎</p>
            </a>
        </li>
        <li>
           <a href="https://172.31.11.174:8443" target="_blank">
                <img src="/static/admin/img/huishi.png">
                <p style="height:16px;line-height:16px;">会议管理</p>
            </a>
        </li>
        <li>
           <a href="http://haproxy01.cs.hnyongxiong.com:1080/stats" target="_blank">
                <img src="/static/admin/img/haproxy.png">
                <p style="height:16px;line-height:16px;">HAProxy</p>
            </a>
        </li>
    </ul>
</div>
<style>
    .test {
        display:block;
        float:left;
        padding:10px;
    }
    .test li{
        margin-right:40px;
        margin-bottom:30px;
        float:left;
        display:block;
    }
    .test li a {
        display: block;
        font-size:14px;
        {% comment %} border:1px solid #ddd; {% endcomment %}
        {% comment %} background:#eee; {% endcomment %}
        width:100px;
        text-align:center;
        padding-bottom:10px;
    }
    .test li a img{
        margin:10px 0;
        width: 60px;
        height: 60px;
    }
</style>
{% endblock %}