<div class="layui-row">
    <form class="layui-form" method="GET" action="{{ request.path_info }}">
    {% comment %} {% csrf_token %} {% endcomment %}
        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-inline">
                <div class="layui-input-inline" style="width:100px">
                    <select name="branch_id" lay-filter="branch" lay-verify="required" lay-search="">
                        <option {%ifequal current_branch_id 0 %}selected=""{%endifequal%} value="0">全部</option>
                        {% for i in branch_data %}
                        <option {%ifequal current_branch_id i.id %}selected=""{%endifequal%} value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline" style="width: 300px;">
                    <input type="text" id="keyword" name="keyword" value="{%ifnotequal keyword None%}{{keyword}}{%endifnotequal%}" placeholder="请输入查询关键字" class="layui-input">
                </div>
                <button type="button" onclick="$(form).submit();" class="layui-btn" id="search" >
                    <i class="layui-icon layui-icon-search"></i>查找
                </button>
                <a href="javascript:;" class="layui-btn btn-export">
                    <i class="layui-icon layui-icon-download-circle"></i>导出
                </a>
            </div>
        </div>
    </form>
</div>