{% extends 'admin/basic.html' %}

{% block extrastyle %}
    <style>
        ol li{
            padding:3px 0;
        }
        .layui-disabled, .layui-disabled:hover{
            color:#3e3e3e !important;
            cursor: default !important;
        }
    </style>
{% endblock %}

{% block notice %}用户管理 / 权限控制{% endblock %}

{% block mainbody %}
<div style="padding: 20px; background-color: #F2F2F2;">
    <input type="hidden" id="user_id" value="{{user.id}}" />
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">用户信息</div>
                <div class="layui-card-body">
                    <ol class="ol">
                        <li><label class="lb">用户名：</label>{{user.username}}</li>
                        <li><label class="lb">姓名：</label>{{user.first_name}}</li>
                        <li><label class="lb">邮箱：</label>{{user.email}}</li>
                        <li><label class="lb">状态：</label>{%ifequal user.is_active True%}启用{%else%}禁用{%endifequal%}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">权限列表</div>
                <div id="tree" class="layui-card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    layui.use(['tree', 'util'], function(){
    var tree = layui.tree
    ,layer = layui.layer
    ,util = layui.util;

        let first = true
        $.getJSON(
            '/admin/get-user-perms-list/'+$('#user_id').val(),
            function(res){
                if (res.code == 0){
                    tree.render({
                        elem: '#tree',
                        id: 'tree',
                        data: res.data,
                        showCheckbox: true,
                        accordion: true,
                        //'onlyIconControl': true,
                        click: function(obj){
                            obj.elem[0].children[0].children[0].children[2].click() 
                            //tree.setChecked('tree', tree_id)
                        },
                        oncheck: function(obj){
                            if (first){
                                return;
                            }

                            check_state = obj.checked;
                            perm_code = obj.data.field;
                            user_id = $('#user_id').val()

                            let perm_flag=undefined
                            if (check_state){
                                perm_flag='add'
                            }else{
                                perm_flag='remove'
                            }
                            $.getJSON(
                                '/admin/permission-control/'+perm_flag+'/' + perm_code + '/' + user_id,
                                function (d) {
                                    if (d.code == 1) {
                                        alert(d.msg)
                                    }
                                }
                            )
                        }
                    })
                }
                first = false
            }
        )
    })
</script>
{% endblock %}