<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>{{filename}}</title>
<link rel="stylesheet" href="/static/public/md-editor/editormd.preview.css" />
<style type="text/css">
    .editormd-html-preview {
        width: 90%;
        margin: 0 auto;
    }
</style>
</head>
<body>
<div id="markdown-view">
    <!-- Server-side output Markdown text -->
    <textarea style="display:none;">
# {{data.type}}处理报告 - {{data.desc}}
报告人：{{data.owner.first_name}}

### 发生时间
{{data.start_date|date:"Y年m月d日 H时i分" }}

### 恢复时间
{{data.end_date|date:"Y年m月d日 H时i分" }}

### 故障持续时间
{{duration}}分钟

### 故障处理人
{{data.repairer}}

### 故障设备
{{data.device}}

### 故障现象
{{data.info}}

### 故障原因
{{data.reason}}

### 解决方法
{{data.resolv_method}}

### 预防措施
{{data.prevent}}
    </textarea>             
</div>
<script src="/static/public/md-editor/jquery.min.js"></script>
<script src="/static/public/md-editor/editormd.js"></script>
<script src="/static/public/md-editor/marked.min.js"></script>
<script src="/static/public/md-editor/prettify.min.js"></script>
<script type="text/javascript">
    $(function() {
	    var testView = editormd.markdownToHTML("markdown-view", {
            // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
            // htmlDecode : true,  // Enable / disable HTML tag encode.
            // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
    });
</script> 
</body>
</html>