{% extends "basic.html" %}

{% block mainbody %}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>虚拟主机</legend>
</fieldset>

<form class="layui-form" action="">
    {% csrf_token %}
    <input type="hidden" name="id" value="{%if vm_obj.id %}{{ vm_obj.id }}{% else %}0{% endif %}" />
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">主机名</label>
            <div class="layui-input-inline">
                <input type="text" size="50" name="vm_hostname" value="{{ vm_obj.vm_hostname}}" lay-verify="required"
                    autocomplete="off" 　class="layui-input" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">管理ip</label>
            <div class="layui-input-inline">
                <input type="text" name="vm_ip" value="{{ vm_obj.vm_ip}}" maxlength="15" lay-verify="required|ip"
                    autocomplete="off" 　class="layui-input" />
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">vlan tag</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vlan_tag" maxlength="50" value="{{ vm_obj.vlan_tag}}" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">vlan id</label>
            <div class="layui-input-inline" style="width: 50px;">
                <input type="text" name="vlan_id" maxlength="4" value="{{ vm_obj.vlan_id}}" lay-verify="required|number"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属集群</label>
            <div class="layui-input-inline" style="width: 100px;">
                <select lay-filter="cluster_tag" name="cluster_tag" lay-verify="required">
                    <option value="">请选择</option>
                    <option {% ifequal cluster_tag 'cs' %}selected="" {% endifequal %} value="cs">长沙</option>
                    <option {% ifequal cluster_tag 'xh' %}selected="" {% endifequal %} value="xh">新化</option>
                    <option {% ifequal cluster_tag 'test' %}selected="" {% endifequal %} value="test">开发测试</option>
                    <!-- <option {% ifequal cluster_tag 'none' %}selected=""{% endifequal %} value="none">祼机</option> -->
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属主机</label>
            <div class="layui-input-inline" style="width: 260px;">
                <select id="host_id" name="host_id" lay-verify="required">
                    {% for i in esxi_list %}
                    <option {% ifequal vm_obj.host_id i.id %}selected="" {% endifequal %} value="{{ i.id }}">{{ i.hostname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">CPU</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vm_cpu" value="{{ vm_obj.vm_cpu}}" maxlength="4" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">内存</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vm_memory" maxlength="4" value="{{ vm_obj.vm_memory}}" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">硬盘</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="vm_disk" maxlength="4" value="{{ vm_obj.vm_disk}}" lay-verify="required"
                    autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">操作系统</label>
            <div class="layui-input-inline" style="width: 100px;">
                <select name="vm_os" lay-verify="required">
                    <option {% ifequal vm_obj.vm_os 'CentOS' %}selected="" {% endifequal %} value="CentOS">CentOS
                    </option>
                    <option {% ifequal vm_obj.vm_os 'Ubuntu' %}selected="" {% endifequal %} value="Ubuntu">Ubuntu
                    </option>
                    <option {% ifequal vm_obj.vm_os 'Windows' %}selected="" {% endifequal %} value="Windows">Windows
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="vm_desc">{{ vm_obj.vm_desc }}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer;

        form.on('submit(demo1)', function (data) {
            $.ajax({
                url: "{% url 'admin:create-or-update' 'vm' %}",
                type: 'post',
                data: data.field,
                success: function (d) {
                    layer.msg(d.msg)
                    if (d.code == 0) {
                        setTimeout(function () {
                            window.location.href = document.referrer
                        }, 1000);
                    }
                },
                error: function () {
                    layer.msg(d.Status)
                }
            })
            return false;
        });

        form.on('select(cluster_tag)', function (data) {
            var cluster_tag = data.value;
            var url = "/admin/get-hosts-list/type/host/flag/" + cluster_tag;
            var device_list_control = $("#host_id");
            device_list_control.empty()
            $.getJSON(
                url,
                function (result) {
                    device_list_control.html("<option value=''>请选择</option>");
                    $.each(result.data, function (i, item) {
                        var opt_value = "<option value='" + item.id + "'>" + item.hostname + "</option>";
                        device_list_control.append(opt_value);
                    })
                    form.render('select');
                })
        });

        form.verify({
            ip: function (value, item) {
                function isValidIP(ip) {
                    var reg = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
                    return reg.test(ip);
                }
                if (isValidIP(value) == false) {
                    return '请输入正确的IP地址';
                }
            }
        });
    });
</script>
{% endblock %}