body{
	padding: 15px;
	margin: 0;
}
/* a{text-decoration: none;color: #098;}
a:hover{text-decoration: underline} */
#navMenu {
	position: fixed;
	top:0px;
	left: 0px;
	right: 0px;
    background: #393D49;
    height: 60px;
	padding: 0 10px;
	z-index: 999;
}
#contentContainer{
	margin-top: 50px;
    display: block;
	text-align: left;
    padding: 10px 10px;
	/*margin-left: 214px;*/
}
#topContainer{
	/*background: #393939;*/
	height: 50px;
	overflow: auto;
	line-height: 50px;
	font-size: 18px;
	/*color: #fff;*/
	padding-left: 10px;
}