{% extends "admin/basic.html" %}

{% block mainbody %}
<blockquote class="layui-elem-quote layui-text">
    温馨提醒：1. 物理机的主机名请确保唯一性； 2. 如果物理机非ESXi集群请选祼机
</blockquote>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>添加主机</legend>
</fieldset>

<form class="layui-form" action="">
    {% csrf_token %}
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">主机名</label>
            <div class="layui-input-inline" style="width: 400px;">
                <input type="text" maxlength="80" name="hostname" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">序列号</label>
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text" maxlength="50" name="sn" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">iDRC管理ip</label>
            <div class="layui-input-inline">
                <input type="text" name="idrc_ip" maxlength="15" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">主机ip</label>
            <div class="layui-input-inline">
                <input type="text" name="host_ip" maxlength="15" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">所属集群</label>
            <div class="layui-input-inline" style="width: 100px;">
                <select name="cluster_tag" lay-verify="required">
                    <option value="">请选择</option>
                    <option value="cs">长沙</option>
                    <option value="xh">新化</option>
                    <option value="test">开发测试</option>
                    <option value="none">祼机</option>
                </select>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">CPU</label>
          <div class="layui-input-inline" style="width: 150px;">
            <input type="text" name="cpu" maxlength="30" lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
    </div>
  

    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">内存</label>
          <div class="layui-input-inline" style="width: 150px;">
            <input type="text" name="memory" maxlength="30" lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">硬盘</label>
          <div class="layui-input-inline" style="width: 150px;">
            <input type="text" name="disk" maxlength="30" lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">设备型号</label>
          <div class="layui-input-inline" style="width: 300px;">
            <input type="text" name="dev_model" maxlength="50" lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">操作系统</label>
          <div class="layui-input-inline" style="width: 100px;">
            <select name="os" lay-verify="required">
                <option value="">请选择</option>
                <option value="CentOS">CentOS</option>
                <option value="Ubuntu">Ubuntu</option>
                <option value="Windows">Windows</option>
                <option value="ESXi">ESXi</option>
            </select>
          </div>
        </div>
      </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
          <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form'], function(){
      var form = layui.form
      ,layer = layui.layer;

      //监听提交
      form.on('submit(demo1)', function(data){
        // layer.alert(JSON.stringify(data.field), {
        //   title: '最终的提交信息'
        // })
        $.ajax({
            url:"{% url 'admin:create-or-update' 'host' %}",
            type:'post',
            data:data.field,
            success:function(d){
                layer.msg(d.msg)
                if (d.code == 0){
                    setTimeout(function(){
                        window.location.reload();
                    },1000);
                }
            },
            error:function(){
                layer.msg(d.Status)
            }
        })
        return false;
      });
    });
</script>
{% endblock %}